Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest

Update proposal with asciidoc
  content/projects/gsoc/2020/project-ideas/plugin-installation-manager-tool.adoc
Owners: @jenkins-infra/gsoc

Update proposals with asciidoc
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
Owners: @jenkins-infra/gsoc

improved writing-an-scm-plugin.adoc
  content/doc/developer/plugin-development/writing-an-scm-plugin.adoc
Owners: @jenkins-infra/copy-editors

Fix typos noticed by Marky
  content/blog/2020/02/2020-02-06-trip-to-dwjw.adoc
Owners: @jenkins-infra/copy-editors

GSoC 2020 - Plugin Installation Manager idea Minor edits
  content/projects/gsoc/2020/project-ideas/plugin-installation-manager-tool.adoc
Owners: @jenkins-infra/gsoc

GSoC 2020 - Google doc embedding is no longer needed
  content/projects/gsoc/2020/project-ideas/plugin-installation-manager-tool.adoc
Owners: @jenkins-infra/gsoc

Fix rendering of the specification generator project idea
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
Owners: @jenkins-infra/gsoc

Fix rendering of the Pipeline steps documentation project idea
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
Owners: @jenkins-infra/gsoc

Publish the Plugin Installation manager project idea
  content/projects/gsoc/2020/project-ideas/plugin-installation-manager-tool.adoc
Owners: @jenkins-infra/gsoc

Pipeline as YAML: Hyperlinks and fixes
  content/projects/gsoc/2020/project-ideas/pipeline-as-yaml-experiment.adoc
Owners: @jenkins-infra/gsoc

Added community bridge info and screenshots
  content/blog/2020/01/2019-10-04-vscode-caseStudy.adoc
  content/images/projects/jcasc/userDocs1.png
  content/images/projects/jcasc/userDocs2.png
Owners: @jenkins-infra/copy-editors

Deleted unrequired file
  content/blog/2020/01/2019-10-04-vscode-caseStudy.adoc
  content/blog/2020/01/2020-01-09-vscode-caseStudy.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-722] Update building and debugging section
  content/doc/developer/building/index.adoc
Owners: @jenkins-infra/copy-editors

Commit suggestions
  content/blog/2020/01/2020-01-09-vscode-caseStudy.adoc
Owners: @jenkins-infra/copy-editors

GSoC 2020 - Adjust the number of potential mentors
  content/projects/gsoc/2020/application.md
Owners: @jenkins-infra/gsoc

GSoC 2020 - Add support of "project ideas under discussion"
  content/_layouts/gsocprojectidea.html.haml
  content/projects/gsoc/2020/project-ideas.html.haml
  content/projects/gsoc/2020/project-ideas/jenkins-cli-in-go.adoc
  content/projects/gsoc/2020/project-ideas/jx-boot-apps.adoc
  content/projects/gsoc/2020/project-ideas/jx-consolidate-addons-and-apps.adoc
Owners: @jenkins-infra/gsoc

GSoC 2020 - More application updates
  content/projects/gsoc/2020/application.md
Owners: @jenkins-infra/gsoc

Add Jenkins X Boot Apps GSoC proposal
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
Owners: @jenkins-infra/gsoc

Add Jenkins X Apps/Addons Consolidation GSoC proposal
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
Owners: @jenkins-infra/gsoc

Add in other mentor TBD
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
Owners: @jenkins-infra/gsoc

Delete jx-boot-apps.adoc
  content/projects/gsoc/2020/project-ideas/jx-boot-apps.adoc
Owners: @jenkins-infra/gsoc

GSoC 2020 - clarfy the project idea types
  content/projects/gsoc/2020/project-ideas.html.haml
Owners: @jenkins-infra/gsoc

Add blog post by Parichay for Jenkins World Lisbon
  content/blog/2020/01/2020-01-27-jenkins-world-lisbon-with-love-from-india.adoc
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/dev-comics.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/fun-run.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/graffiti-painter.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/gsoc-team.JPG
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/jenkins-x-intro.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/ponte-de-abril.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/project-presentation.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/sponsors.JPG
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/superhero-party.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/swags-dwjw.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/with_oleg.jpg
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

fix typo
  content/blog/2020/01/2020-01-27-jenkins-world-lisbon-with-love-from-india.adoc
Owners: @jenkins-infra/copy-editors

fix image links
  content/blog/2020/01/2020-01-27-jenkins-world-lisbon-with-love-from-india.adoc
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/jenkins-gsoc-team.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/sponsors.JPG
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

Moving Jenkins & Artifactory REST to discussion projects
  content/projects/gsoc/2020/project-ideas/artifactory-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
Owners: @jenkins-infra/gsoc

docs: added author and updated potential mentors in project-ideas
  content/_data/authors/ayush_agarwal.adoc
  content/images/avatars/ayush_agarwal.png
  content/projects/gsoc/2020/project-ideas/eda-plugins.adoc
  content/projects/gsoc/2020/project-ideas/github-checks.adoc
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

GSoC - Link retrospectives in 2016, 2018 and 2019
  content/projects/gsoc/2018/index.adoc
  content/projects/gsoc/2019/index.adoc
  content/projects/gsoc/gsoc2016.adoc
Owners: @jenkins-infra/gsoc

GSoC - Fix text duplication in the mentor guide
  content/projects/gsoc/mentors.adoc
Owners: @jenkins-infra/gsoc

Remove wiki page creation instructions
  content/doc/developer/publishing/wiki-page.adoc
Owners: @jenkins-infra/copy-editors

Rename 2020-02-06-trip-to-dwjw.adoc to 2020-02-07-trip-to-dwjw.adoc
  content/blog/2020/02/2020-02-07-trip-to-dwjw.adoc
Owners: @jenkins-infra/copy-editors

Use plugins site instead of wiki
  content/_data/solutions/c.yml
  content/_data/solutions/pipeline.yml
  content/_data/upgrades/2-7-1.adoc
  content/_partials/changelog-old.html
  content/blog/2010/2010-02-08-incoming-more-translations.md
  content/blog/2010/2010-02-11-spotlight-on-ita-software.md
  content/blog/2010/2010-02-12-this-week-in-plugins.md
Owners: @jenkins-infra/copy-editors

More wiki to plugins site
  content/blog/2010/2010-02-17-getting-started-building-android-apps-with-hudson.md
Owners: @jenkins-infra/copy-editors

More wiki to plugins changes
  content/blog/2010/2010-02-19-this-week-in-plugins.md
Owners: @jenkins-infra/copy-editors

Add T-mobile case study
  content/_data/authors/ravisharma.adoc
  content/blog/2020/02/2020-02-10-t-mobile-case-study.adoc
  content/images/avatars/ravisharma.jpg
  content/images/post-images/t-mobile-case-study-opengraph/t-mobile-and-jenkins.png
Owners: @jenkins-infra/copy-editors
