Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest

Fix atomium size
  content/images/logos/atomium.png
Owners: @jenkins-infra/copy-editors

Move BlueOean out of the press contacts
  content/press.adoc
  content/projects/blueocean/about/index.adoc
  content/projects/blueocean/index.html.haml
Owners: @jenkins-infra/copy-editors

Update Blue Ocean page metadata to include links and blog posts
  content/projects/blueocean/about/index.adoc
  content/projects/blueocean/contribute/index.adoc
Owners: @jenkins-infra/copy-editors

Press - Add explicit section about trademarks + reference CDF
  content/press.adoc
Owners: @jenkins-infra/copy-editors

FOSDEM 2020 - Fix the Atomium image encoding
  content/_data/logo/atomium.yml
  content/images/logos/atomium.png
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/press.adoc
Owners: @jenkins-infra/copy-editors

Fix the Jira macro in the JNLP1..2 deprecation announcement
  content/blog/2017/08/2017-08-11-remoting-update.adoc
Owners: @jenkins-infra/copy-editors

Update _docker.adoc
  content/doc/book/installing/_docker.adoc
Owners: @jenkins-infra/copy-editors

Update _docker.adoc
  content/doc/book/installing/_docker.adoc
Owners: @jenkins-infra/copy-editors

Update syntax.adoc
  content/doc/book/pipeline/syntax.adoc
Owners: @jenkins-infra/copy-editors

Fail build on Asciidoctor errors
  scripts/awestruct
Owners: none

Add changelog for Jenkins 2.214
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Remove Oleg reference from changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Update content/press.adoc
  content/press.adoc
Owners: @jenkins-infra/copy-editors

Add Denver NADOG meeting 15 Jan 2020
  content/_data/events/2020-01-15-Denver-NADOG.adoc
Owners: @jenkins-infra/copy-editors

Remove end date from single day event
  content/_data/events/2020-01-15-Denver-NADOG.adoc
Owners: @jenkins-infra/copy-editors

Update index.adoc
  content/projects/jam/index.adoc
Owners: @jenkins-infra/copy-editors

Add bio for Francisco Fernández
  content/_data/authors/fcojfernandez.adoc
Owners: @jenkins-infra/copy-editors

Add git plugin performance GSoC 2020 idea
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
Owners: @jenkins-infra/gsoc

Add git plugin caching GSoC 2020 idea
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Owners: @jenkins-infra/gsoc

GSoC 2020 - Move the Windows services project idea to Asciidoc && publish it
  content/projects/gsoc/2020/project-ideas/winsw-yaml-config-support.adoc
Owners: @jenkins-infra/gsoc

[GSoC 2020] - Jenkins X is no loner a Jenkins sub-project
  content/projects/gsoc/2020/application.md
Owners: @jenkins-infra/gsoc

Update weekly.yml
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add Bobby Sandell as a mentor
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Owners: @jenkins-infra/gsoc

GSoC 2020 - update the doc according to 2020 application forms
  content/projects/gsoc/2020/application.md
Owners: @jenkins-infra/gsoc

Apply suggestions from code review by @MarkEWaite
  content/projects/gsoc/2020/application.md
Owners: @jenkins-infra/gsoc

Add 2020-01-15 security advisory
  content/security/advisory/2020-01-15.adoc
Owners: @jenkins-infra/copy-editors

[GSoC 2020] - Finalize the EDA Plugin project idea and move it to the published state
  content/projects/gsoc/2020/project-ideas/eda-plugins.adoc
Owners: @jenkins-infra/gsoc

GSoC 2020 - Copy-edit the header about project ideas
  content/projects/gsoc/2020/project-ideas.html.haml
Owners: @jenkins-infra/gsoc

Added docker polling project
  content/projects/gsoc/2020/project-ideas/docker-registries-polling-plugin.adoc
Owners: @jenkins-infra/gsoc

Include kind parameter
  content/security/advisory/2020-01-15.adoc
Owners: @jenkins-infra/copy-editors

Update index.adoc
  content/projects/jam/index.adoc
Owners: @jenkins-infra/copy-editors

Fix 'exanple' typo in jenkins-on-java-11.adoc
  content/doc/administration/requirements/jenkins-on-java-11.adoc
Owners: @jenkins-infra/copy-editors

Fixed typos
  content/projects/gsoc/2020/project-ideas/docker-registries-polling-plugin.adoc
Owners: @jenkins-infra/gsoc

Added quickstart guide and newbie-friendly issues
  content/projects/gsoc/2020/project-ideas/docker-registries-polling-plugin.adoc
Owners: @jenkins-infra/gsoc

GSoC 2020 - Add support of publishing YAML project ideas as drafts + better draft notice
  content/_layouts/gsocprojectidea.html.haml
Owners: @jenkins-infra/gsoc

Fixed issues link and corrected plugin name
  content/projects/gsoc/2020/project-ideas/docker-registries-polling-plugin.adoc
Owners: @jenkins-infra/gsoc

Add URL for pull request 502
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Owners: @jenkins-infra/gsoc

Publish git plugin caching idea for GSoC 2020
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Owners: @jenkins-infra/gsoc

Publish git plugin performance idea
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
Owners: @jenkins-infra/gsoc
