Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

Fix spacing in CSS
  content/solutions/index.html.haml
Owners: @jenkins-infra/copy-editors

JEP-14: Initialize the "Jenkins on cloud platforms" roadmap section
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

JEP-14 - Initialize roadmap for Jenkins developer tools
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Update content/_data/roadmap/roadmap.yml
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Update content/_data/roadmap/roadmap.yml
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Platform SIG - Add project descriptions and roadmap items
  content/_data/roadmap/roadmap.yml
  content/sigs/platform/index.adoc
Owners: @jenkins-infra/copy-editors

Add 2.233 changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Update bom instructions
  content/doc/developer/plugin-development/dependency-management.adoc
Owners: @jenkins-infra/copy-editors

add new logo
  content/_data/logo/stay-safe.yml
  content/images/logos/stay-safe/256.png
  content/images/logos/stay-safe/stay-safe.png
Owners: @jenkins-infra/copy-editors

rename path
  content/_data/logo/stay-safe.yml
Owners: @jenkins-infra/copy-editors

New Stay Safe Jenkins Logo (#3089)
  content/_data/logo/stay-safe.yml
  content/images/logos/stay-safe/256.png
  content/images/logos/stay-safe/stay-safe.png
Owners: @jenkins-infra/copy-editors

Add Docs roadmap items
  content/_data/roadmap/roadmap.yml
  content/sigs/docs/index.adoc
Owners: @jenkins-infra/copy-editors

Adding pipeline-authoring roadmap
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Copy-edit the Pipeline roadmap and split items
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Roadmap: Add descriptions and links for JCasC-related entries
  content/_data/roadmap/roadmap.yml
  content/sigs/docs/index.adoc
Owners: @jenkins-infra/copy-editors

Update content/sigs/docs/index.adoc
  content/sigs/docs/index.adoc
Owners: @jenkins-infra/copy-editors

Roadmap: Add more items for developer tools
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Use links inside the site
  content/participate/help.adoc
Owners: @jenkins-infra/copy-editors

Use links inside the site
  content/participate/how-to-guides.adoc
Owners: @jenkins-infra/copy-editors

Add solution pages improvements to docs roadmap
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Add solution pages to docs SIG page
  content/sigs/docs/index.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-687] - subst site names with links to facilitate testing
  content/participate/how-to-guides.adoc
Owners: @jenkins-infra/copy-editors

Remove extra characters from system properties table
  content/doc/book/managing/system-properties.adoc
Owners: @jenkins-infra/copy-editors

Jenkins Online Meetup: Document the platform and the CFP process
  content/events/online-meetup/index.adoc
  content/projects/jam/index.adoc
Owners: @jenkins-infra/copy-editors

Advoacy&Outreach SIG: Extend the project descriptions
  content/sigs/advocacy-and-outreach/index.adoc
Owners: @jenkins-infra/copy-editors

Google Season of Docs: Initalize landing and link it from paes
  content/participate/document.adoc
  content/sigs/advocacy-and-outreach/outreach-programs/index.adoc
  content/sigs/docs/gsod/index.adoc
  content/sigs/docs/index.adoc
Owners: @jenkins-infra/copy-editors

Add a link to the GSoD 2019 retrospective
  content/sigs/docs/gsod/index.adoc
Owners: @jenkins-infra/copy-editors

Switch base_url to www.jenkins.io
  content/_config/site.yml
Owners: @jenkins-infra/copy-editors

Add aws sponsor logo
  content/images/sponsors/aws.png
Owners: @jenkins-infra/copy-editors

Add various sponsors
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Add missing ]
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Set theme jekyll-theme-leap-day
  _config.yml
Owners: none

GSoC 2020: Extend and detalize expectations from mentors for community bonding
  content/projects/gsoc/mentors.adoc
Owners: @jenkins-infra/gsoc

Apply suggestions from code review
  content/sigs/docs/gsod/index.adoc
Owners: @jenkins-infra/copy-editors

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest
