Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/security, @jenkins-infra/gsoc

.github/CODEOWNERS:

## See the maintainer guide in CONTRIBUTING.adoc for more details
# All website content (default "area")
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board
content/_data/roadmap/roadmap.yml @jenkins-infra/board
content/doc/developer/plugin-governance/adopt-a-plugin.adoc @jenkins-infra/board

# Security and advisories
content/doc/book/security/ @jenkins-infra/security
content/doc/book/resources/security/ @jenkins-infra/security
content/doc/developer/security/ @jenkins-infra/security
content/security/ @jenkins-infra/security

# Teams without GitHub aliases
# content/events - Event organizers, Advocacy and Outreach SIG
# contents/sigs - Special interest group leaders, unless another process is defined
# contents/project - Project teams

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

Update content/doc/book/managing/groovy-hook-scripts.adoc
  content/doc/book/managing/groovy-hook-scripts.adoc
Owners: @jenkins-infra/copy-editors

Update groovy-hook-scripts.adoc
  content/doc/book/managing/groovy-hook-scripts.adoc
Owners: @jenkins-infra/copy-editors

Update content/doc/book/managing/groovy-hook-scripts.adoc
  content/doc/book/managing/groovy-hook-scripts.adoc
Owners: @jenkins-infra/copy-editors

adjust naming
  content/doc/book/managing/groovy-hook-scripts.adoc
Owners: @jenkins-infra/copy-editors

Update documentation for Docker Groovy script path (#7740)
  content/doc/book/managing/groovy-hook-scripts.adoc
Owners: @jenkins-infra/copy-editors

Remove blue ocean references
  content/doc/book/installing/_docker.adoc
  content/doc/book/installing/docker.adoc
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.489
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Update weekly entry order and messages
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Using Docker...
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Defining exe...
  content/doc/pipeline/tour/agents.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image for pipelines in the...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image for scripts in the '...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Jenkins Docu...
  STYLEGUIDE.adoc
Owners: none

chore: Update the value of the node docker image in the 'Using Docker...
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the python docker image for scripts in the...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

Move 'Additional Arguments' directly under 'Customizing the execution environment'
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

Link to `commons-compress-api` API plugin is incorrect
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Link to `commons-compress-api` API plugin is incorrect (#7745)
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add archive page for older LTS changelogs and update recent changelog filtering
  content/changelog-stable/archive.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

Add link to pipeline syntax parameters (#7725)
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

Fix errors in PR checks
  content/changelog-stable-old/index.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

Adding Kevin as co-mentor to site retooling project
  content/projects/gsoc/2025/project-ideas/complete-alternative-jenkins-io-build-retooling.adoc
Owners: @jenkins-infra/gsoc

Creating 2.479.3 changelog and upgrade guide
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-479-3.adoc
Owners: @jenkins-infra/copy-editors

Adding Kevin as co-mentor to site retooling project (#7747)
  content/projects/gsoc/2025/project-ideas/complete-alternative-jenkins-io-build-retooling.adoc
Owners: @jenkins-infra/gsoc

Fix changelog pages: reverse recent and archived logic, update links for proper navigation between changelog-stable and changelog-stable-old
  content/changelog-stable-old/index.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.490
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Fix changelog logic: Stable shows latest 25 releases; Archived shows older ones and also moved the = partial('changelog-stable.html') to changelog-stable-old
  content/changelog-stable-old/index.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

fix the reversing of changelog-stable and changelog-stable-old
  content/changelog-stable-old/index.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

corrected the changelog-stable and changelog-stable-old to show the needed changes
  content/changelog-stable-old/index.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

Update content/changelog-stable/index.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

Update content/changelog-stable-old/index.html.haml
  content/changelog-stable-old/index.html.haml
Owners: @jenkins-infra/copy-editors

Create 2024-12-16-google-summer-of-code-2025-volunteers-needed-to-mentor-future-jenkins-contributors.adoc
  content/blog/2024/12/16/2024-12-16-google-summer-of-code-2025-volunteers-needed-to-mentor-future-jenkins-contributors.adoc
Owners: @jenkins-infra/copy-editors

Update 2024-12-16-google-summer-of-code-2025-volunteers-needed-to-mentor-future-jenkins-contributors.adoc
  content/blog/2024/12/16/2024-12-16-google-summer-of-code-2025-volunteers-needed-to-mentor-future-jenkins-contributors.adoc
Owners: @jenkins-infra/copy-editors

Updated content/changelog-stable-old/index.html.haml
  content/changelog-stable-old/index.html.haml
Owners: @jenkins-infra/copy-editors

updated all the required suggestions
  content/changelog-stable-old/index.html.haml
  content/changelog-stable/index.html.haml
Owners: @jenkins-infra/copy-editors

Delete content/blog/2021/05/2021-05-11-DevOps-World-CFP-AMA-Recap.adoc
  content/blog/2021/05/2021-05-11-DevOps-World-CFP-AMA-Recap.adoc
Owners: @jenkins-infra/copy-editors

Delete content/blog/2021/05/2021-06-08-New-eBook-:-Jenkins-Is-The-Way-For-IT-And-Software-Developers-To-Power-The-Enterprise.adoc
  content/blog/2021/05/2021-06-08-New-eBook-:-Jenkins-Is-The-Way-For-IT-And-Software-Developers-To-Power-The-Enterprise.adoc
Owners: @jenkins-infra/copy-editors

Delete content/blog/2022/10/2022-10-28-jenkins-in-google-summer-of-code-2022.adoc
  content/blog/2022/10/2022-10-28-jenkins-in-google-summer-of-code-2022.adoc
Owners: @jenkins-infra/copy-editors

Delete content/images/post-images/2023/12/placeholder.adoc
  content/images/post-images/2023/12/placeholder.adoc
Owners: @jenkins-infra/copy-editors

Delete content/images/Screen Shot 2021-06-08 at 10.02.19 PM.png
  content/images/Screen Shot 2021-06-08 at 10.02.19 PM.png
Owners: @jenkins-infra/copy-editors
