Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest

Online Meetup: Explicitly reference the participant limit as suggested by @tracymiranda
  content/events/online-meetup/index.adoc
Owners: @jenkins-infra/copy-editors

Update content/sigs/docs/gsod/index.adoc
  content/sigs/docs/gsod/index.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review by @MarkEWaite
  content/projects/gsoc/mentors.adoc
Owners: @jenkins-infra/gsoc

Use current Red Hat logo with some white space removed
  content/images/sponsors/redhat.png
Owners: @jenkins-infra/copy-editors

Use current CloudBees logo
  content/images/sponsors/cloudbees.png
Owners: @jenkins-infra/copy-editors

Remove Microsoft sponsor logo
  content/images/sponsors/microsoft.png
Owners: @jenkins-infra/copy-editors

Use powered by AWS logo in sponsor page
  content/images/sponsors/aws.png
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/test.adoc
  content/participate/test.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/track-issue.adoc
  content/participate/track-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/track-issue.adoc
  content/participate/track-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/track-issue.adoc
  content/participate/track-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/report-issue.adoc
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Use agent rather than slave
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Add CDF as a sponsor
  content/images/sponsors/cdf.png
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Use local link rather than absolute
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Agents rather than slaves
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Adjust a verb
  content/sigs/advocacy-and-outreach/index.adoc
Owners: @jenkins-infra/copy-editors

Minor phrasing fix
  content/events/online-meetup/index.adoc
Owners: @jenkins-infra/copy-editors

Minor phrasing changes
  content/events/online-meetup/index.adoc
  content/projects/jam/index.adoc
Owners: @jenkins-infra/copy-editors

Downloads: Fix the Windows redirect
  content/download/thank-you-downloading-windows-installer.html.haml
Owners: @jenkins-infra/copy-editors

Update logging redirects
  content/redirect/find-jenkins-logs.adoc
  content/redirect/log-recorders.adoc
  content/redirect/logging.adoc
Owners: @jenkins-infra/copy-editors

Revamp the Documentation menu in the toolbar
  content/_partials/toptoolbar.html.haml
Owners: @jenkins-infra/copy-editors

Update logging redirects (#3117)
  content/redirect/find-jenkins-logs.adoc
  content/redirect/log-recorders.adoc
  content/redirect/logging.adoc
Owners: @jenkins-infra/copy-editors

Add online and local meetup references to the events page
  content/events/index.html.haml
  content/events/online-meetup/index.adoc
Owners: @jenkins-infra/copy-editors

Avoid missing method error
  content/solutions/index.html.haml
Owners: @jenkins-infra/copy-editors

Update value of url in footer and added option new UX feature
  content/doc/book/managing/system-properties.adoc
Owners: @jenkins-infra/copy-editors

subst site names with links
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Remove jekyll theme file
  _config.yml
Owners: none

Adjust GSoC jumbotron for May 4 announcement
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Remove incomplete page disclaimer
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Reduce refs to jenkins-ci.org
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Jump into smart questions content
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Format recommendation similar to others
  content/participate/report-issue.adoc
Owners: @jenkins-infra/copy-editors

Adding How-To Guides (#3069)
  content/participate/help.adoc
  content/participate/how-to-guides.adoc
  content/participate/report-issue.adoc
  content/participate/test.adoc
  content/participate/track-issue.adoc
Owners: @jenkins-infra/copy-editors
