Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/security, @jenkins-infra/gsoc

.github/CODEOWNERS:

## See the maintainer guide in CONTRIBUTING.adoc for more details
# All website content (default "area")
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board
content/_data/roadmap/roadmap.yml @jenkins-infra/board
content/doc/developer/plugin-governance/adopt-a-plugin.adoc @jenkins-infra/board

# Security and advisories
content/doc/book/security/ @jenkins-infra/security
content/doc/book/resources/security/ @jenkins-infra/security
content/doc/developer/security/ @jenkins-infra/security
content/security/ @jenkins-infra/security

# Teams without GitHub aliases
# content/events - Event organizers, Advocacy and Outreach SIG
# contents/sigs - Special interest group leaders, unless another process is defined
# contents/project - Project teams

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

add latest backport
  content/_data/changelogs/lts.yml
Owners: @jenkins-infra/copy-editors

feat(blog): CSP Project December Update
  content/blog/2025/01/09/2025-01-09-jenkins-csp-project-update.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-pomerium.adoc
Owners: @jenkins-infra/copy-editors

Comment out section regarding upcoming github-branch-source features so the PRs do not need to be merged simultaneously
  content/doc/book/security/securing-org-folders-and-multibranch-pipelines.adoc
Owners: @jenkins-infra/security

Automated changelog for 2.492
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

adjust weekly entry grammar
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

chore: [donors] Update the list of Jenkins donors
  content/_data/donors/donors.json
Owners: @jenkins-infra/copy-editors

feat(gemfile): add base64 dependency and bump ruby docker image to 3.4.1
  Gemfile
  Gemfile.lock
  scripts/ruby
Owners: none

Init
  content/blog/2025/01/2025-01-10-design-library.adoc
  content/images/post-images/2025/01/2025-01-10-design-library/opengraph.png
Owners: @jenkins-infra/copy-editors

adding infra cost reduction stats
  content/blog/2025/01/08/2025-01-08-jenkins-2024-recap.adoc
Owners: @jenkins-infra/copy-editors

Update scripts/ruby
  scripts/ruby
Owners: none

chore(gemfile): add base64 dependency and bump ruby docker image to 3.4.1 (#7801)
  Gemfile
  Gemfile.lock
  scripts/ruby
Owners: none

add last backport
  content/_data/changelogs/lts.yml
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/doc/book/security/securing-org-folders-and-multibranch-pipelines.adoc
Owners: @jenkins-infra/security

Update 2025-01-10-design-library.adoc
  content/blog/2025/01/2025-01-10-design-library.adoc
Owners: @jenkins-infra/copy-editors

Compress image
  content/images/post-images/2025/01/2025-01-10-design-library/opengraph.png
Owners: @jenkins-infra/copy-editors

Creating 2.479.3 changelog and upgrade guide (#7748)
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-479-3.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/blog/2025/01/2025-01-10-design-library.adoc
Owners: @jenkins-infra/copy-editors

chore(updatecli/ruby): add a manifest to link the docker image for ruby aligned with packer-image version
  updatecli/updatecli.d/ruby-documentation.yaml
  updatecli/updatecli.d/ruby.yaml
Owners: none

chore(updatecli/ruby): add a manifest to link the docker image for ruby aligned with packer-image version (#7803)
  updatecli/updatecli.d/ruby-documentation.yaml
  updatecli/updatecli.d/ruby.yaml
Owners: none

chore: Update the value of the node docker image in the 'Defining exe...
  content/doc/pipeline/tour/agents.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Using Docker...
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Jenkins Docu...
  STYLEGUIDE.adoc
Owners: none

chore: Update the value of the node docker image in the 'Using Docker...
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image for scripts in the '...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

adjusting cost reduction piece
  content/blog/2025/01/08/2025-01-08-jenkins-2024-recap.adoc
Owners: @jenkins-infra/copy-editors

Add blog post for 'Command Palette'
  content/blog/2025/02/2025-02-20-command-palette.adoc
  content/images/post-images/2025/02/2025-02-20-command-palette/opengraph.png
Owners: @jenkins-infra/copy-editors

Update opengraph.png
  content/images/post-images/2025/02/2025-02-20-command-palette/opengraph.png
Owners: @jenkins-infra/copy-editors

chore(updatecli): Update the expiration date in security.txt when approaching it. (#7793)
  updatecli/scripts/update-security-txt.sh
  updatecli/updatecli.d/update-security-txt.yaml
Owners: none

Directly link to Create Issue form instead of just SECURITY project
  content/security/index.adoc
  content/security/reporting.adoc
Owners: @jenkins-infra/security

Document requirements for custom update sites
  content/doc/developer/security/misc.adoc
Owners: @jenkins-infra/security

We're linking to report UI, not project
  content/security/index.adoc
  content/security/reporting.adoc
Owners: @jenkins-infra/security

Make entry title consistent with others
  content/security/advisory/2024-11-13.adoc
Owners: @jenkins-infra/security

Add support for plugin ID in security issue template
  content/participate/report-issue/redirect.html.haml
Owners: @jenkins-infra/copy-editors

Address review feedback
  content/participate/report-issue/redirect.html.haml
Owners: @jenkins-infra/copy-editors

Make entry title consistent with others (#7808)
  content/security/advisory/2024-11-13.adoc
Owners: @jenkins-infra/security

Directly link to Create Issue form instead of just SECURITY project (#7806)
  content/security/index.adoc
  content/security/reporting.adoc
Owners: @jenkins-infra/security

Document requirements for custom update sites (#7807)
  content/doc/developer/security/misc.adoc
Owners: @jenkins-infra/security

Add blog post for 'Jenkins Design Library 3' (#7802)
  content/blog/2025/01/2025-01-10-design-library.adoc
  content/images/post-images/2025/01/2025-01-10-design-library/opengraph.png
Owners: @jenkins-infra/copy-editors

Add support for plugin ID in security issue template (#7809)
  content/participate/report-issue/redirect.html.haml
Owners: @jenkins-infra/copy-editors
