Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/security, @jenkins-infra/gsoc

.github/CODEOWNERS:

## See the maintainer guide in CONTRIBUTING.adoc for more details
# All website content (default "area")
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board
content/_data/roadmap/roadmap.yml @jenkins-infra/board
content/doc/developer/plugin-governance/adopt-a-plugin.adoc @jenkins-infra/board

# Security and advisories
content/doc/book/security/ @jenkins-infra/security
content/doc/book/resources/security/ @jenkins-infra/security
content/doc/developer/security/ @jenkins-infra/security
content/security/ @jenkins-infra/security

# Teams without GitHub aliases
# content/events - Event organizers, Advocacy and Outreach SIG
# contents/sigs - Special interest group leaders, unless another process is defined
# contents/project - Project teams

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

Apply suggestions from code review
  content/doc/developer/testing/index.adoc
Owners: @jenkins-infra/copy-editors

Explain how to adjust the home directory (#7759)
  content/doc/developer/testing/index.adoc
Owners: @jenkins-infra/copy-editors

adding 2024 recap blog post
  content/blog/2025/01/08/2025-01-08-jenkins-2024-recap.adoc
  content/images/post-images/2025/01/08/2024-recap.png
  content/images/post-images/2025/01/08/documentation.png
  content/images/post-images/2025/01/08/infrastructure.png
  content/images/post-images/2025/01/08/jenkins-by-the-numbers.png
  content/images/post-images/2025/01/08/outreach-and-advocacy.png
  content/images/post-images/2025/01/08/platform-modernization.png
  content/images/post-images/2025/01/08/security.png
  content/images/post-images/2025/01/08/sponsor-contributions.png
  content/images/post-images/2025/01/08/ui-ux.png
Owners: @jenkins-infra/copy-editors

Interest with some gsoc 2025 ideas
  content/projects/gsoc/2025/project-ideas/backend-code-refactoring-for-infra-stats.adoc
  content/projects/gsoc/2025/project-ideas/further-pipeline-documentation-improvements.adoc
  content/projects/gsoc/2025/project-ideas/improving-jenkinsfile-runner-abilities-and-github-actions.adoc
  content/projects/gsoc/2025/project-ideas/revamping-jenkins-io-website-success-stories-feature.adoc
  content/projects/gsoc/2025/project-ideas/swagger-openapi-for-jenkins-rest-api.adoc
Owners: @jenkins-infra/gsoc

Automated changelog for 2.491
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

adding harsh-ps-2003 as a potential mentor
  content/_data/authors/harsh-ps-2003.adoc
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

add changelog message for hotkeys-js entry
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

wording nit
  content/_data/authors/harsh-ps-2003.adoc
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.492
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest weekly supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest stable supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest stable supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

adding harsh-ps-2003 as a potential mentor for GSoC 2025 (#7763)
  content/_data/authors/harsh-ps-2003.adoc
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

add atomicfilewriter entry to changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

adjusting formatting
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add atomicfilewriter entry to 2.491 changelog (#7767)
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest stable supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest stable supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest weekly supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

update from review and add UI image
  content/blog/2025/01/08/2025-01-08-jenkins-2024-recap.adoc
  content/images/post-images/2025/01/08/UI-changes.png
Owners: @jenkins-infra/copy-editors

Update python.adoc remove nosetest and Cobertura references due to EOL status
  content/solutions/python.adoc
Owners: @jenkins-infra/copy-editors

Update python.adoc due to nosetest and Cobertura EOL statuses (#7769)
  content/solutions/python.adoc
Owners: @jenkins-infra/copy-editors

apply changes from docs review
  content/blog/2025/01/08/2025-01-08-jenkins-2024-recap.adoc
Owners: @jenkins-infra/copy-editors

Add documentation about credentials for Organization Folders and Multibranch Pipelines
  content/doc/book/security/_chapter.yml
  content/doc/book/security/index.adoc
  content/doc/book/security/securing-org-folders-and-multibranch-pipelines.adoc
Owners: @jenkins-infra/security

Update complete-alternative-jenkins-io-build-retooling.adoc
  content/projects/gsoc/2025/project-ideas/complete-alternative-jenkins-io-build-retooling.adoc
Owners: @jenkins-infra/gsoc

Update swagger-openapi-for-jenkins-rest-api.adoc
  content/projects/gsoc/2025/project-ideas/swagger-openapi-for-jenkins-rest-api.adoc
Owners: @jenkins-infra/gsoc

added support for unix domain sockets in pomerium reverse proxy
  content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-pomerium.adoc
Owners: @jenkins-infra/copy-editors

Add contributor as a potential mentor for GSoC 2025 (#7771)
  content/projects/gsoc/2025/project-ideas/complete-alternative-jenkins-io-build-retooling.adoc
  content/projects/gsoc/2025/project-ideas/swagger-openapi-for-jenkins-rest-api.adoc
Owners: @jenkins-infra/gsoc

chore: Bump Jenkins minimum BOM artifact version in the "plugin-bill-...
  content/doc/developer/tutorial-improve/use-plugin-bill-of-materials.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "dependency m...
  content/doc/developer/plugin-development/dependency-management.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "improve a pl...
  content/doc/developer/tutorial-improve/update-base-jenkins-version.adoc
Owners: @jenkins-infra/copy-editors

Update reverse-proxy-configuration-pomerium.adoc
  content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-pomerium.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the php docker image for pipelines in the ...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.492
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Updated reverse-proxy-configuration-pomerium.adoc
  content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-pomerium.adoc
Owners: @jenkins-infra/copy-editors

Interest in some GSoC 2025 ideas as potential mentor (#7762)
  content/projects/gsoc/2025/project-ideas/backend-code-refactoring-for-infra-stats.adoc
  content/projects/gsoc/2025/project-ideas/further-pipeline-documentation-improvements.adoc
  content/projects/gsoc/2025/project-ideas/improving-jenkinsfile-runner-abilities-and-github-actions.adoc
  content/projects/gsoc/2025/project-ideas/revamping-jenkins-io-website-success-stories-feature.adoc
  content/projects/gsoc/2025/project-ideas/swagger-openapi-for-jenkins-rest-api.adoc
Owners: @jenkins-infra/gsoc

Add potential mentor name: shivay
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
Owners: @jenkins-infra/gsoc

Add shivaylamba as a potential mentor for GSoC 2025 (#7775)
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
Owners: @jenkins-infra/gsoc

Remove JDK 11 note for Debian 12
  content/doc/book/installing/linux.adoc
Owners: @jenkins-infra/copy-editors

Link to our systemd instructions instead of DigitalOcean
  content/doc/book/installing/linux.adoc
Owners: @jenkins-infra/copy-editors
