Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/security, @jenkins-infra/gsoc

.github/CODEOWNERS:

## See the maintainer guide in CONTRIBUTING.adoc for more details
# All website content (default "area")
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board
content/_data/roadmap/roadmap.yml @jenkins-infra/board
content/doc/developer/plugin-governance/adopt-a-plugin.adoc @jenkins-infra/board

# Security and advisories
content/doc/book/security/ @jenkins-infra/security
content/doc/book/resources/security/ @jenkins-infra/security
content/doc/developer/security/ @jenkins-infra/security
content/security/ @jenkins-infra/security

# Teams without GitHub aliases
# content/events - Event organizers, Advocacy and Outreach SIG
# contents/sigs - Special interest group leaders, unless another process is defined
# contents/project - Project teams

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

Update the Debian OpenJDK sample data
  content/doc/book/installing/linux.adoc
Owners: @jenkins-infra/copy-editors

Use broader description of RHEL and its derivatives
  content/doc/book/installing/linux.adoc
Owners: @jenkins-infra/copy-editors

Link from download pages to install guides, not pkg.jenkins.io
  content/doc/book/installing/linux.adoc
  content/download/index.html.haml
  content/download/verify.adoc
  content/images/symbols/fedora.svg
Owners: @jenkins-infra/copy-editors

Link from download pages to install guides (#7776)
  content/doc/book/installing/linux.adoc
  content/download/index.html.haml
  content/download/verify.adoc
  content/images/symbols/fedora.svg
Owners: @jenkins-infra/copy-editors

adding sponsors collage
  content/blog/2025/01/08/2025-01-08-jenkins-2024-recap.adoc
  content/images/post-images/2025/01/08/jenkins-sponsors-2024.png
Owners: @jenkins-infra/copy-editors

Add GsoC 2025 Plugin Modernizer idea
  content/projects/gsoc/2025/project-ideas/plugin-modernizer-improvements.adoc
Owners: @jenkins-infra/gsoc

Add GsoC 2025 Plugin Modernizer idea (#7778)
  content/projects/gsoc/2025/project-ideas/plugin-modernizer-improvements.adoc
Owners: @jenkins-infra/gsoc

feat(gsoc): polish up some GSoC 2025 project ideas
  content/projects/gsoc/2025/project-ideas/backend-code-refactoring-for-infra-stats.adoc
  content/projects/gsoc/2025/project-ideas/complete-alternative-jenkins-io-build-retooling.adoc
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
  content/projects/gsoc/2025/project-ideas/revamping-jenkins-io-website-success-stories-feature.adoc
Owners: @jenkins-infra/gsoc

fix: fix typos
  content/projects/gsoc/2025/project-ideas/android-or-ios-tutorial-pages.adoc
  content/projects/gsoc/2025/project-ideas/backend-code-refactoring-for-infra-stats.adoc
  content/projects/gsoc/2025/project-ideas/further-pipeline-documentation-improvements.adoc
  content/projects/gsoc/2025/project-ideas/improving-jenkinsfile-runner-abilities-and-github-actions.adoc
  content/projects/gsoc/2025/project-ideas/plugin-modernizer-improvements.adoc
  content/projects/gsoc/2025/project-ideas/revamping-jenkins-io-website-success-stories-feature.adoc
  content/projects/gsoc/2025/project-ideas/swagger-openapi-for-jenkins-rest-api.adoc
Owners: @jenkins-infra/gsoc

fix: fix typos
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
Owners: @jenkins-infra/gsoc

feat(gsoc): polish up gsoc 2025 project ideas (#7779)
  content/projects/gsoc/2025/project-ideas/android-or-ios-tutorial-pages.adoc
  content/projects/gsoc/2025/project-ideas/backend-code-refactoring-for-infra-stats.adoc
  content/projects/gsoc/2025/project-ideas/complete-alternative-jenkins-io-build-retooling.adoc
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
  content/projects/gsoc/2025/project-ideas/further-pipeline-documentation-improvements.adoc
  content/projects/gsoc/2025/project-ideas/improving-jenkinsfile-runner-abilities-and-github-actions.adoc
  content/projects/gsoc/2025/project-ideas/plugin-modernizer-improvements.adoc
  content/projects/gsoc/2025/project-ideas/revamping-jenkins-io-website-success-stories-feature.adoc
  content/projects/gsoc/2025/project-ideas/swagger-openapi-for-jenkins-rest-api.adoc
Owners: @jenkins-infra/gsoc

Automated changelog for 2.492
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

fix(gsoc): patch broken link found in gsoc 2025 llm project idea
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
Owners: @jenkins-infra/gsoc

fix(gsoc): patch broken link found in gsoc 2025 llm project idea (#7782)
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci.jenkins.io-data.adoc
Owners: @jenkins-infra/gsoc

added documentation about FilePath and removed wip status
  content/doc/developer/testing/index.adoc
Owners: @jenkins-infra/copy-editors

Added documentation about `FilePath` and removed wip status (#7783)
  content/doc/developer/testing/index.adoc
Owners: @jenkins-infra/copy-editors

Fix link to design library symbols page
  content/doc/developer/views/symbols.adoc
Owners: @jenkins-infra/copy-editors

Fix tooltip hyperlink
  content/doc/developer/forms/adding-tool-tips.adoc
Owners: @jenkins-infra/copy-editors

Fix 2 weekly.ci.jenkins.io hyperlinks (#7784)
  content/doc/developer/forms/adding-tool-tips.adoc
  content/doc/developer/views/symbols.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the ruby docker image for scripts in the '...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

Recommend Maven 3.9.6 or newer
  content/doc/developer/tutorial-improve/_install-apache-maven.adoc
Owners: @jenkins-infra/copy-editors

Recommend Maven 3.9.6 or newer (#7791)
  content/doc/developer/tutorial-improve/_install-apache-maven.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest weekly supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

Add link to Docker policy
  content/.well-known/security.txt
Owners: @jenkins-infra/copy-editors

Add security.txt file (#5359)
  content/.well-known/security.txt
  content/_ext/pipeline.rb
  content/_ext/well_known.rb
Owners: @jenkins-infra/copy-editors

Update minimum required Maven version
  content/doc/developer/building/intellij.adoc
Owners: @jenkins-infra/copy-editors

Update minimum required Maven version (#7794)
  content/doc/developer/building/intellij.adoc
Owners: @jenkins-infra/copy-editors

Make it clear that relativePath must be present on the parent pom
  content/doc/developer/tutorial-improve/update-parent-pom.adoc
Owners: @jenkins-infra/copy-editors

Make it clear that relativePath must be present on the parent pom (#7795)
  content/doc/developer/tutorial-improve/update-parent-pom.adoc
Owners: @jenkins-infra/copy-editors

Update platform SIG with latest information
  content/sigs/platform/index.adoc
Owners: @jenkins-infra/copy-editors

Update platform SIG with latest information (#7796)
  content/sigs/platform/index.adoc
Owners: @jenkins-infra/copy-editors

WiP
  llms.txt
Owners: none

chore: Bump Jenkins minimum BOM artifact version in the "plugin-bill-...
  content/doc/developer/tutorial-improve/use-plugin-bill-of-materials.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "improve a pl...
  content/doc/developer/tutorial-improve/update-base-jenkins-version.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "dependency m...
  content/doc/developer/plugin-development/dependency-management.adoc
Owners: @jenkins-infra/copy-editors

fix(updatecli): Uses the right regexp.
  updatecli/updatecli.d/update-security-txt.yaml
Owners: none

chore(docs): Delete llms.txt
  llms.txt
Owners: none

Automated changelog for 2.492
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add sridamul as a potential mentor for GSoC 2025
  content/projects/gsoc/2025/project-ideas/plugin-modernizer-improvements.adoc
Owners: @jenkins-infra/gsoc

Add sridamul as a potential mentor for GSoC 2025 (#7798)
  content/projects/gsoc/2025/project-ideas/plugin-modernizer-improvements.adoc
Owners: @jenkins-infra/gsoc
