Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

Update content/blog/2020/03/2020-03-19-github-app-authentication.adoc
  content/blog/2020/03/2020-03-19-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors

Update content/blog/2020/03/2020-03-19-github-app-authentication.adoc
  content/blog/2020/03/2020-03-19-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors

Jenkins 2.231 release date 14 Apr 2020
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add comment for changelog skipped late PR
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

expanding jenkins.io/participate/help
  content/participate/help.adoc
Owners: @jenkins-infra/copy-editors

Add changelog and upgrade for 2.222.2
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-222-2.adoc
Owners: @jenkins-infra/copy-editors

Update content/participate/help.adoc
  content/participate/help.adoc
Owners: @jenkins-infra/copy-editors

Add Parichay to mentor of git plugin performance improvement
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
Owners: @jenkins-infra/gsoc

Add Parichay as a mentor for git plugin caching
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Owners: @jenkins-infra/gsoc

Add Parichay as a mentor for git plugin caching (#3066)
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Owners: @jenkins-infra/gsoc

Add Parichay to mentor of git plugin performance improvement (#3065)
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
Owners: @jenkins-infra/gsoc

insert blank line before list
  content/participate/help.adoc
Owners: @jenkins-infra/copy-editors

'deploy-env' is not a valid variable name
  content/doc/book/pipeline/syntax.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/blog/2020/03/2020-03-19-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors

Add more examples and mention token is valid for 1hr
  content/blog/2020/04/2020-04-16-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/blog/2020/04/2020-04-16-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors

Update content/blog/2020/04/2020-04-16-github-app-authentication.adoc
  content/blog/2020/04/2020-04-16-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors

Document how to use the Experimental update center from JCasC and Docker images
  content/doc/developer/publishing/releasing-experimental-updates.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-687] - adding how-to guides
  content/participate/help.adoc
  content/participate/how-to-guides.adoc
  content/participate/report-issue.adoc
  content/participate/test.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-687] - adding how-to guides
  content/participate/help.adoc
  content/participate/test.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-687] - adding how-to guides
  content/participate/track-issue.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-687] - adding how-to guides
  content/participate/how-to-guides.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-687] - adding how-to guides
  content/participate/how-to-guides.adoc
  content/participate/track-issue.adoc
Owners: @jenkins-infra/copy-editors

[WEBSITE-687] - adding how-to guides
  content/participate/track-issue.adoc
Owners: @jenkins-infra/copy-editors

Adding sahilkalra to mentor list
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
Owners: @jenkins-infra/gsoc

Add social media image
  content/blog/2020/04/2020-04-16-github-app-authentication.adoc
  content/images/post-images/jenkins-and-github.png
Owners: @jenkins-infra/copy-editors

rendering tweaks
  content/blog/2020/04/2020-04-16-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors

Mention EMIT_LOCATION in docs on views
  content/doc/developer/views/index.adoc
Owners: @jenkins-infra/copy-editors

Add 2020-04-16 security advisory
  content/security/advisory/2020-04-16.adoc
Owners: @jenkins-infra/copy-editors

Add changelog for Jenkins 2.232
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/doc/developer/publishing/releasing-experimental-updates.adoc
Owners: @jenkins-infra/copy-editors

[JENKINS-61932] Add redirect URLs for new empty page
  content/redirect/distributed-builds.adoc
  content/redirects/distributed-builds.adoc
Owners: @jenkins-infra/copy-editors

[INFRA-910] - Reference get.jenkins.o as an alternative source of updates
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Use mirrors.jenkins-ci.org/ instead of get.jenkins.io in the banner
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Fix description of SECURITY-698
  content/security/advisory/2018-02-05.adoc
Owners: @jenkins-infra/copy-editors

[INFRA-910] - Use http://mirrors.jenkins-ci.org as a source of weekly releases
  content/download/index.html.haml
  content/download/thank-you-downloading-windows-installer.html.haml
Owners: @jenkins-infra/copy-editors

Revert "[INFRA-910] - Use http://mirrors.jenkins-ci.org as a source of weekly releases, hardcode 2/232"
  content/download/index.html.haml
  content/download/thank-you-downloading-windows-installer.html.haml
Owners: @jenkins-infra/copy-editors

Add the Gitter chat link to README
  README.adoc
Owners: none

Add badge and communication channels section to the Contributing guide
  CONTRIBUTING.adoc
Owners: none

Use cards for solutions page
  content/_data/solutions/android.yml
  content/_data/solutions/bitbucketserver.yml
  content/_data/solutions/c.yml
  content/_data/solutions/docker.yml
  content/_data/solutions/embedded.yml
  content/_data/solutions/github.yml
  content/_data/solutions/java.yml
  content/_data/solutions/php.yml
  content/_data/solutions/pipeline.yml
  content/_data/solutions/python.yml
  content/_data/solutions/ruby.yml
  content/css/jenkins.css
  content/images/solution-images/android.svg
  content/images/solution-images/bitbucketserver.svg
  content/images/solution-images/c.svg
  content/images/solution-images/docker.svg
  content/images/solution-images/embedded.svg
  content/images/solution-images/github.svg
  content/images/solution-images/java.svg
  content/images/solution-images/php.svg
  content/images/solution-images/pipeline.svg
  content/images/solution-images/python.svg
  content/images/solution-images/ruby.svg
  content/participate/index.html.haml
  content/solutions/index.html.haml
Owners: @jenkins-infra/copy-editors

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest
