Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest

Updating end of month regular status meeting
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Update content/sigs/pipeline-authoring/index.adoc
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Updating end of month regular status meeting (#3124)
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Add changelog and upgrade guide for 2.222.3
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-222-2.adoc
  content/_data/upgrades/2-222-3.adoc
Owners: @jenkins-infra/copy-editors

Jenkins 3D model was not migrated from Wiki (#2951)
  content/artwork/index.html.haml
Owners: @jenkins-infra/copy-editors

Fixed distribution link that is not clickable
  content/projects/gsoc/2020/project-ideas/jenkins-distribution-customize-service.adoc
Owners: @jenkins-infra/gsoc

Remove psftw from Pipeline Authoring SIG.
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Remove psftw from Pipeline Authoring SIG. (#3128)
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Fix typo in URL
  content/doc/book/managing/system-properties.adoc
Owners: @jenkins-infra/copy-editors

Escape URL
  content/doc/book/managing/system-properties.adoc
Owners: @jenkins-infra/copy-editors

Changelog for Jenkins 2.234
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Update biography
  content/_data/authors/alyssat.adoc
Owners: @jenkins-infra/copy-editors

Blog for Jenkins is the Way community stories
  content/blog/2020/04/2020-04-28-jenkins-is-the-way.adoc
  content/images/post-images/jenkins-is-the-way/jenkins-is-the-way-opengraph.png
  content/images/post-images/jenkins-is-the-way/jenkins-is-the-way-t-shirt.png
  content/images/post-images/jenkins-is-the-way/jenkins-is-the-way.png
Owners: @jenkins-infra/copy-editors

Add Jenkins is the Way case studies to the Jumbotron
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Update the infrastructure provisioning section
  content/projects/infrastructure/index.adoc
Owners: @jenkins-infra/copy-editors

Link to online meetups
  content/blog/2020/04/2020-04-28-jenkins-is-the-way.adoc
Owners: @jenkins-infra/copy-editors

Include Mark Waite as an author
  content/blog/2020/04/2020-04-28-jenkins-is-the-way.adoc
Owners: @jenkins-infra/copy-editors

Add outreach and advocacy tags
  content/blog/2020/04/2020-04-28-jenkins-is-the-way.adoc
Owners: @jenkins-infra/copy-editors

More engaging Jumbotron title
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Full sentences in the jumbotron
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Add Jenkins is the Way logo
  content/_data/logo/jenkins-is-the-way.yml
  content/images/logos/jenkins-is-the-way/256.png
  content/images/logos/jenkins-is-the-way/jenkins-is-the-way.png
Owners: @jenkins-infra/copy-editors

Update Mark Waite bio
  content/_data/authors/markewaite.adoc
Owners: @jenkins-infra/copy-editors

Use quoted strings for YAML keys
  content/solutions/index.html.haml
Owners: @jenkins-infra/copy-editors

Add Jenkins is the Way case studies to the Jumbotron
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

Make How-To Guides a clickable link
  content/sigs/docs/index.adoc
Owners: @jenkins-infra/copy-editors

Remove the Jumbotron change
  content/index.html.haml
Owners: @jenkins-infra/copy-editors

commit changes to dev
  content/_data/authors/vsilverman.adoc
  content/blog/1970/01/1970-01-01-init-how-to.adoc
  content/images/avatars/vsilverman.jpg
  content/images/post-images/1970-01/JenkinsAll.png
  content/images/post-images/1970-01/JenkinsBlueOceanBuildJavaApp.png
  content/images/post-images/1970-01/JenkinsBlueOceanPipeleneDemo.png
  content/images/post-images/1970-01/JenkinsBlueOceanPipeline-57.png
  content/images/post-images/1970-01/JenkinsBlueOceanPipelineDemo-57.png
  content/images/post-images/1970-01/JenkinsBlueOceanPipelineSteps.png
  content/images/post-images/1970-01/JenkinsBlueOceanStageView.png
  content/images/post-images/1970-01/JenkinsBlueOceanTests-57.png
  content/images/post-images/1970-01/JenkinsBlueOceanTests.png
  content/images/post-images/1970-01/JenkinsDemoLogin.png
  content/images/post-images/1970-01/JenkinsDemoLoginLg.png
  content/images/post-images/1970-01/JenkinsSidebar.png
  content/images/post-images/1970-01/JenkinsTerminal.png
Owners: @jenkins-infra/copy-editors

Code of Conduct: Update the scope to reflect the current state of community resources
  content/project/conduct.adoc
Owners: @jenkins-infra/board

Contributing: Move author metadata guide to a separate section
  CONTRIBUTING.adoc
Owners: none

Fix erroneous twitter handle
  content/_data/authors/jonbrohauge.adoc
Owners: @jenkins-infra/copy-editors

Update story links
  content/blog/2020/04/2020-04-28-jenkins-is-the-way.adoc
Owners: @jenkins-infra/copy-editors

Use Jetty current for JMX and ALPN docs
  content/doc/book/installing/_jenkins-command-parameters.adoc
Owners: @jenkins-infra/copy-editors

Fix broken link to GSoC gitter channel
  content/projects/gsoc/index.adoc
Owners: @jenkins-infra/gsoc

Use github.com rather than github.org in URL link
  content/projects/infrastructure/index.adoc
Owners: @jenkins-infra/copy-editors

Fix link to Chinese site
  content/projects/infrastructure/index.adoc
Owners: @jenkins-infra/copy-editors

Remove evergreen - broken link, halted project
  content/projects/infrastructure/index.adoc
Owners: @jenkins-infra/copy-editors

Fix broken OWASP links
  content/_partials/changelog-old.html
  content/doc/book/managing/security.adoc
  content/security/advisory/2013-02-16.adoc
  content/security/advisory/2013-05-02.adoc
  content/security/advisory/2013-11-20.adoc
Owners: @jenkins-infra/copy-editors

Fix link to Jenkins X documentation
  content/blog/2018/03/2018-03-19-introducing-jenkins-x.adoc
  content/blog/2019/05/2019-05-11-docs-sig-announcement.adoc
Owners: @jenkins-infra/copy-editors

Use valid HTTP URL for meetings, not invalid HTTPS
  content/blog/2011/2011-02-05-first-governance-meeting-recap.md
  content/blog/2012/2012-02-02-happy-birthday-jenkins.md
  content/blog/2012/2012-09-28-take-the-jenkins-survey.html
  content/blog/2012/2012-11-16-new-mailing-list-for-better-event-meet-up-local-community-coordination.html
  content/blog/2014/2014-04-04-maven-job-type-performance-improvements-in-maven-plugin-2-2.html
  content/blog/2014/2014-07-09-planned-changes-in-jenkins-user-conference-contact-information-collection.html
  content/blog/2015/2015-02-09-jenkins-celebration-day-is-february-26.html
  content/blog/2016/2016-01-07-official-code-of-conduct.adoc
  content/blog/2016/2016-03-15-jenkins-certification.adoc
  content/blog/2016/2016-05-18-announcing-azure-partnership.adoc
  content/blog/2017/08/2017-08-11-remoting-update.adoc
  content/project/conduct.adoc
  content/project/governance.adoc
Owners: @jenkins-infra/copy-editors, @jenkins-infra/board

Fix broken link to Assembla webhook docs
  content/blog/2019/12/2019-12-14-generic-webhook-trigger-plugin.adoc
Owners: @jenkins-infra/copy-editors
