Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest

Removing EMEA and updating meeting with link to calendar
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Removing EMEA ref, minor changes, corrections & adding link to CoC
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Change my twitter ID
  content/_data/authors/linuxsuren.adoc
Owners: @jenkins-infra/copy-editors

Migrate rewards/gifts for reporters from wiki
  content/security/gift.adoc
  content/security/index.adoc
  content/security/reporting.adoc
Owners: @jenkins-infra/copy-editors

Removing EMEA ref, minor changes, corrections & adding link to CoC (#3034)
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Adding Anchore as an org
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Adding Anchore as an org (#3038)
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Reordering the orgs alphabetically
  content/sigs/pipeline-authoring/index.adoc
Owners: @jenkins-infra/copy-editors

Add Jenkins 2.230 changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Present tense verbs in changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Better phrasing for styling changes
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Remove reference to Page Generated deletion - not in PR
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Version field is a string, not number
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Fix version data type in earlier releases
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Fix the 2.223 release date
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Roadmap: Add category links
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Events: Add entry for the Jenkins online meetup on April 17
  content/_data/events/2020-04-17-jom-kubernetes-getting-started.adoc
Owners: @jenkins-infra/copy-editors

Update content/_data/events/2020-04-17-jom-kubernetes-getting-started.adoc
  content/_data/events/2020-04-17-jom-kubernetes-getting-started.adoc
Owners: @jenkins-infra/copy-editors

Add 2020-04-07 security advisory
  content/security/advisory/2020-04-07.adoc
Owners: @jenkins-infra/copy-editors

@nikhildarocha mentor for gsoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-openwrt-ppa.adoc
Owners: @jenkins-infra/gsoc

@nikhildarocha adding profile
  content/_data/authors/nikhildarocha.adoc
Owners: @jenkins-infra/copy-editors

Adding myself to the mentor list
  content/projects/gsoc/2020/project-ideas/remoting-monitoring.adoc
Owners: @jenkins-infra/gsoc

Use latest DZone refcard link
  content/solutions/pipeline.adoc
Owners: @jenkins-infra/copy-editors

Add Admin Guide and User Guide as Docs Projects
  content/sigs/docs/index.adoc
Owners: @jenkins-infra/copy-editors

Remove large archive file from this repository
  content/artwork/index.html.haml
Owners: @jenkins-infra/copy-editors

Roadmap: reword the UX IG entries
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Fix links to pipeline steps in steps docs (update ibeams)
  Gemfile.lock
  content/blog/2018/01/2018-01-08-moving-from-buddybuild-for-android.adoc
  content/blog/2019/07/2019-07-25-azure-artifact-manager.adoc
  content/doc/developer/testing/index.adoc
  content/doc/tutorials/build-a-python-app-with-pyinstaller.adoc
Owners: @jenkins-infra/copy-editors

Add Agent terminology cleanup to the Jenkins roadmap
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Add new Windows Support Policy to the Platform SIG roadmap
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Label changes to Gemfile.lock as chore
  .github/autolabeler.yml
Owners: none

[INFRA-1105] - Rename agent Docker image names
  content/_data/upgrades/2-121-1.adoc
  content/blog/2018/12/2018-12-14-java11-preview-availability.adoc
  content/projects/remoting/index.adoc
Owners: @jenkins-infra/copy-editors

Responsive roadmap style
  content/css/roadmap.css
  content/project/roadmap/index.html.haml
Owners: @jenkins-infra/copy-editors, @jenkins-infra/board

Add Jenkins 2.231 changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Spelling fix
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Credit CSS author in a comment
  content/css/roadmap.css
Owners: @jenkins-infra/copy-editors

expanding jenkins.io/participate/help
  content/participate/help.adoc
Owners: @jenkins-infra/copy-editors

expanding jenkins.io/participate/help
  content/participate/help.adoc
Owners: @jenkins-infra/copy-editors

Fix the securing Jenkins redirect
  content/doc/book/securing-jenkins.html.haml
Owners: @jenkins-infra/copy-editors

Jenkins Roadmap: Add Promotion support for Pipeline, change Pipeline as YAML status to near-term
  content/_data/roadmap/roadmap.yml
Owners: @jenkins-infra/copy-editors

Update content/blog/2020/03/2020-03-19-github-app-authentication.adoc
  content/blog/2020/03/2020-03-19-github-app-authentication.adoc
Owners: @jenkins-infra/copy-editors
