Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/security, @jenkins-infra/gsoc

.github/CODEOWNERS:

## See the maintainer guide in CONTRIBUTING.adoc for more details
# All website content (default "area")
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board
content/_data/roadmap/roadmap.yml @jenkins-infra/board
content/doc/developer/plugin-governance/adopt-a-plugin.adoc @jenkins-infra/board

# Security and advisories
content/doc/book/security/ @jenkins-infra/security
content/doc/book/resources/security/ @jenkins-infra/security
content/doc/developer/security/ @jenkins-infra/security
content/security/ @jenkins-infra/security

# Teams without GitHub aliases
# content/events - Event organizers, Advocacy and Outreach SIG
# contents/sigs - Special interest group leaders, unless another process is defined
# contents/project - Project teams

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

chore: Update the value of the node docker image for pipelines in the...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Jenkins Docu...
  STYLEGUIDE.adoc
Owners: none

chore: Update the value of the node docker image for scripts in the '...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Defining exe...
  content/doc/pipeline/tour/agents.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Using Docker...
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the node docker image in the 'Using Docker...
  content/doc/book/pipeline/docker.adoc
Owners: @jenkins-infra/copy-editors

adding 2.492.1 changelog & upgrade guide
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-491-1.adoc
Owners: @jenkins-infra/copy-editors

Tidy
  content/blog/2025/02/2025-02-05-command-palette.adoc
  content/images/post-images/2025/02/2025-02-05-command-palette/opengraph.png
Owners: @jenkins-infra/copy-editors

Update my twitter
  content/_data/authors/notmyfault.adoc
  content/blog/2022/11/2022-11-17-jenkins-election-candidates-and-results.adoc
Owners: @jenkins-infra/copy-editors

Update my twitter (#7835)
  content/_data/authors/notmyfault.adoc
  content/blog/2022/11/2022-11-17-jenkins-election-candidates-and-results.adoc
Owners: @jenkins-infra/copy-editors

fix(authors) remove dduportal's Twitter
  content/_data/authors/dduportal.adoc
Owners: @jenkins-infra/copy-editors

fix(authors) remove dduportal's Twitter (#7836)
  content/_data/authors/dduportal.adoc
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.495
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

feat: unify-endpoint to common
  content/_ext/changelog_releases.rb
  content/_ext/pipeline.rb
  content/_layouts/changelog_entry.html.haml
  content/_partials/release-header.html.haml
Owners: @jenkins-infra/copy-editors

Update entries and add developer entry
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

chore: make sigular changelog
  content/_ext/changelog_releases.rb
Owners: @jenkins-infra/copy-editors

Update content/blog/2025/02/2025-02-05-command-palette.adoc
  content/blog/2025/02/2025-02-05-command-palette.adoc
Owners: @jenkins-infra/copy-editors

Update content/blog/2025/02/2025-02-05-command-palette.adoc
  content/blog/2025/02/2025-02-05-command-palette.adoc
Owners: @jenkins-infra/copy-editors

update to jdk17 for jenkins image
  content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-pomerium.adoc
Owners: @jenkins-infra/copy-editors

Update reverse proxy instructions for Java 17 (#7839)
  content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/reverse-proxy-configuration-pomerium.adoc
Owners: @jenkins-infra/copy-editors

Fix spelling error in comment
  content/_ext/pipeline.rb
Owners: @jenkins-infra/copy-editors

Update content/_ext/changelog_releases.rb
  content/_ext/changelog_releases.rb
Owners: @jenkins-infra/copy-editors

feat: unify-endpoint to common `changelog` (#7838)
  content/_ext/changelog_releases.rb
  content/_ext/pipeline.rb
  content/_layouts/changelog_entry.html.haml
  content/_partials/release-header.html.haml
Owners: @jenkins-infra/copy-editors

draft of a modernizer group blogpost
  content/blog/2025/02/01/2025-02-01-plugin-modernizer-concept.adoc
Owners: @jenkins-infra/copy-editors

chore: replace master with main #7126
  .github/dependabot.yml
  .github/workflows/compress-images.yaml
  .github/workflows/updatecli.yaml
  CONTRIBUTING.adoc
  Jenkinsfile
  Jenkinsfile_k8s
  README.adoc
  master_references.txt
Owners: none

removed automation file for checking master
  master_references.txt
Owners: none

user addition
  content/_data/authors/cnu1812.adoc
Owners: @jenkins-infra/copy-editors

Create ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
  content/projects/gsoc/2025/project-ideas/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
Owners: @jenkins-infra/gsoc

user addition (#7842)
  content/_data/authors/cnu1812.adoc
Owners: @jenkins-infra/copy-editors

Update content/projects/gsoc/2025/project-ideas/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
  content/projects/gsoc/2025/project-ideas/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
Owners: @jenkins-infra/gsoc

Update content/projects/gsoc/2025/project-ideas/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
  content/projects/gsoc/2025/project-ideas/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
Owners: @jenkins-infra/gsoc
