Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/security, @jenkins-infra/gsoc

Fix JS
  content/participate/report-issue/redirect.html.haml
Owners: @jenkins-infra/copy-editors

Fix JS (#7810)
  content/participate/report-issue/redirect.html.haml
Owners: @jenkins-infra/copy-editors

Fix JS more
  content/participate/report-issue/redirect.html.haml
Owners: @jenkins-infra/copy-editors

Fix JS more (#7811)
  content/participate/report-issue/redirect.html.haml
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "dependency m...
  content/doc/developer/plugin-development/dependency-management.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "improve a pl...
  content/doc/developer/tutorial-improve/update-base-jenkins-version.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "plugin-bill-...
  content/doc/developer/tutorial-improve/use-plugin-bill-of-materials.adoc
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.493
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add documentation about credentials for Organization Folders and Multibranch Pipelines (#7770)
  content/doc/book/security/_chapter.yml
  content/doc/book/security/index.adoc
  content/doc/book/security/securing-org-folders-and-multibranch-pipelines.adoc
Owners: @jenkins-infra/security

Update for grammar and formatting
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

updating date and adding devops dozen award
  content/blog/2025/01/16/2025-01-16-jenkins-2024-recap.adoc
  content/images/post-images/2025/01/16/2024-recap.png
  content/images/post-images/2025/01/16/UI-changes.png
  content/images/post-images/2025/01/16/devops-dozen-2024-award.png
  content/images/post-images/2025/01/16/documentation.png
  content/images/post-images/2025/01/16/infrastructure.png
  content/images/post-images/2025/01/16/jenkins-by-the-numbers.png
  content/images/post-images/2025/01/16/jenkins-sponsors-2024.png
  content/images/post-images/2025/01/16/outreach-and-advocacy.png
  content/images/post-images/2025/01/16/platform-modernization.png
  content/images/post-images/2025/01/16/security.png
  content/images/post-images/2025/01/16/sponsor-contributions.png
  content/images/post-images/2025/01/16/ui-ux.png
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.494
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

fix(blog): Rewording and date change.
  content/blog/2025/01/16/2025-01-16-jenkins-csp-project-update.adoc
Owners: @jenkins-infra/copy-editors

fix(blog): Using the plugin macro.
  content/blog/2025/01/16/2025-01-16-jenkins-csp-project-update.adoc
Owners: @jenkins-infra/copy-editors

fix(blog): Layout and typo fix.
  content/blog/2025/01/16/2025-01-16-jenkins-csp-project-update.adoc
Owners: @jenkins-infra/copy-editors

Apply suggestions from code review
  content/blog/2025/01/16/2025-01-16-jenkins-csp-project-update.adoc
Owners: @jenkins-infra/copy-editors

adding updated sponsor image
  content/images/post-images/2025/01/16/jenkins-sponsors-2024.png
Owners: @jenkins-infra/copy-editors

Adding 2024 recap blog post (#7761)
  content/blog/2025/01/16/2025-01-16-jenkins-2024-recap.adoc
  content/images/post-images/2025/01/16/2024-recap.png
  content/images/post-images/2025/01/16/UI-changes.png
  content/images/post-images/2025/01/16/devops-dozen-2024-award.png
  content/images/post-images/2025/01/16/documentation.png
  content/images/post-images/2025/01/16/infrastructure.png
  content/images/post-images/2025/01/16/jenkins-by-the-numbers.png
  content/images/post-images/2025/01/16/jenkins-sponsors-2024.png
  content/images/post-images/2025/01/16/outreach-and-advocacy.png
  content/images/post-images/2025/01/16/platform-modernization.png
  content/images/post-images/2025/01/16/security.png
  content/images/post-images/2025/01/16/sponsor-contributions.png
  content/images/post-images/2025/01/16/ui-ux.png
Owners: @jenkins-infra/copy-editors

Compress Images
  content/images/post-images/2025/01/16/UI-changes.png
  content/images/post-images/2025/01/16/jenkins-by-the-numbers.png
  content/images/post-images/2025/01/16/jenkins-sponsors-2024.png
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins oldest stable supported version in the "Choosing ...
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Owners: @jenkins-infra/copy-editors

feat(blog): Csp update december 2024 (#7816)
  content/blog/2025/01/16/2025-01-16-jenkins-csp-project-update.adoc
Owners: @jenkins-infra/copy-editors

chore: [donors] Update the list of Jenkins donors
  content/_data/donors/donors.json
Owners: @jenkins-infra/copy-editors

chore: Update the value of the golang docker image for pipelines in t...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "plugin-bill-...
  content/doc/developer/tutorial-improve/use-plugin-bill-of-materials.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "improve a pl...
  content/doc/developer/tutorial-improve/update-base-jenkins-version.adoc
Owners: @jenkins-infra/copy-editors

chore: Bump Jenkins minimum BOM artifact version in the "dependency m...
  content/doc/developer/plugin-development/dependency-management.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the php docker image for pipelines in the ...
  content/doc/pipeline/tour/hello-world.adoc
Owners: @jenkins-infra/copy-editors

Automated changelog for 2.494
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Update 'Jenkins serving NUT' logo; add 'jenkins-with-plate-basis' SVG as basis for other logos
  content/_data/logo/jenkins-with-plate-basis.yml
  content/_data/logo/nut.yml
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis-256px.png
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis.png
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis.svg
  content/images/logos/nut/jenkins-nut-vector.svg
Owners: @jenkins-infra/copy-editors

Update 'Jenkins serving NUT' logo; add 'jenkins-with-plate-basis' SVG… (#7825)
  content/_data/logo/jenkins-with-plate-basis.yml
  content/_data/logo/nut.yml
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis-256px.png
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis.png
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis.svg
  content/images/logos/nut/jenkins-nut-vector.svg
Owners: @jenkins-infra/copy-editors

Compress Images
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis-256px.png
  content/images/logos/jenkins-with-plate-basis/jenkins-with-plate-basis.png
Owners: @jenkins-infra/copy-editors

Add Packt as an accepted word
  .typos.toml
Owners: none

Correct two spelling errors
  content/_partials/changelog-old.html
  content/blog/2020/08/2020-08-03-github-checks-api-plugin-coding-phase-2.adoc
Owners: @jenkins-infra/copy-editors

chore: Update the value of the docker-workflow plugin in the Docker t...
  content/doc/book/installing/_docker-for-tutorials.adoc
Owners: @jenkins-infra/copy-editors

adjust formatting and grammar for 2.494
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

chore(jumbotron): Replace 2023 DevOps Award with 2024 image.
  content/_data/indexpage/carousel.yml
  content/images/post-images/2025/01/22/2025-01-22-devops-dozen-2024-community-award-winners/Most-Innovative-DevOps-Open-Source-Project.png
Owners: @jenkins-infra/copy-editors

chore(jumbotron): Replace 2023 DevOps Award with 2024 image. (#7829)
  content/_data/indexpage/carousel.yml
  content/images/post-images/2025/01/22/2025-01-22-devops-dozen-2024-community-award-winners/Most-Innovative-DevOps-Open-Source-Project.png
Owners: @jenkins-infra/copy-editors

Add 2025-01-22 security advisory
  content/security/advisory/2025-01-22.adoc
Owners: @jenkins-infra/security

Fix 2025-01-22 security advisory
  content/security/advisory/2025-01-22.adoc
Owners: @jenkins-infra/security

Fix 2025-01-22 security advisory (#7830)
  content/security/advisory/2025-01-22.adoc
Owners: @jenkins-infra/security

.github/CODEOWNERS:

## See the maintainer guide in CONTRIBUTING.adoc for more details
# All website content (default "area")
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board
content/_data/roadmap/roadmap.yml @jenkins-infra/board
content/doc/developer/plugin-governance/adopt-a-plugin.adoc @jenkins-infra/board

# Security and advisories
content/doc/book/security/ @jenkins-infra/security
content/doc/book/resources/security/ @jenkins-infra/security
content/doc/developer/security/ @jenkins-infra/security
content/security/ @jenkins-infra/security

# Teams without GitHub aliases
# content/events - Event organizers, Advocacy and Outreach SIG
# contents/sigs - Special interest group leaders, unless another process is defined
# contents/project - Project teams

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc
