Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/board, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# Governance documents
content/project/ @jenkins-infra/board
content/conduct.adoc @jenkins-infra/board
content/donate.adoc @jenkins-infra/board
content/press.adoc @jenkins-infra/board

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest

Fix GSoC report blog broken link
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
Owners: @jenkins-infra/gsoc

Fix links to Hacktoberfest
  content/blog/2020/01/2020-01-07-happy-new-year.adoc
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

Fix link to credentials storage blog post
  content/blog/2020/01/2020-01-07-happy-new-year.adoc
Owners: @jenkins-infra/copy-editors

Link to wiki exporter rather than word 'here'
  content/blog/2020/01/2020-01-07-happy-new-year.adoc
Owners: @jenkins-infra/copy-editors

Link to Kafka remoting plugin instead of TODO plugin
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
Owners: @jenkins-infra/gsoc

Fix many broken hyperlinks on jenkins.io (#3140)
  content/_partials/changelog-old.html
  content/blog/2011/2011-02-05-first-governance-meeting-recap.md
  content/blog/2012/2012-02-02-happy-birthday-jenkins.md
  content/blog/2012/2012-09-28-take-the-jenkins-survey.html
  content/blog/2012/2012-11-16-new-mailing-list-for-better-event-meet-up-local-community-coordination.html
  content/blog/2014/2014-04-04-maven-job-type-performance-improvements-in-maven-plugin-2-2.html
  content/blog/2014/2014-07-09-planned-changes-in-jenkins-user-conference-contact-information-collection.html
  content/blog/2015/2015-02-09-jenkins-celebration-day-is-february-26.html
  content/blog/2016/2016-01-07-official-code-of-conduct.adoc
  content/blog/2016/2016-03-15-jenkins-certification.adoc
  content/blog/2016/2016-05-18-announcing-azure-partnership.adoc
  content/blog/2017/08/2017-08-11-remoting-update.adoc
  content/blog/2018/03/2018-03-19-introducing-jenkins-x.adoc
  content/blog/2019/05/2019-05-11-docs-sig-announcement.adoc
  content/blog/2019/12/2019-12-14-generic-webhook-trigger-plugin.adoc
  content/blog/2020/01/2020-01-07-happy-new-year.adoc
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
  content/doc/book/installing/_jenkins-command-parameters.adoc
  content/doc/book/managing/security.adoc
  content/project/conduct.adoc
  content/project/governance.adoc
  content/projects/gsoc/index.adoc
  content/projects/infrastructure/index.adoc
  content/security/advisory/2013-02-16.adoc
  content/security/advisory/2013-05-02.adoc
  content/security/advisory/2013-11-20.adoc
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc, @jenkins-infra/board
