Repository jenkins-infra/jenkins.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc, @jenkins-infra/hacktoberfest

.github/CODEOWNERS:

# All website content
content/ @jenkins-infra/copy-editors

# GSoC
content/projects/gsoc/ @jenkins-infra/gsoc
*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest

No need for redundant reference to JEP-222
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add initial version of UI plugins post.
  content/blog/2020/01/2020-01-23-ui-plugins.adoc
  content/images/post-images/2020/01-ui-plugins/build.png
  content/images/post-images/2020/01-ui-plugins/card.png
  content/images/post-images/2020/01-ui-plugins/chart-model.png
  content/images/post-images/2020/01-ui-plugins/font-awesome.png
  content/images/post-images/2020/01-ui-plugins/forensics-view-model.png
  content/images/post-images/2020/01-ui-plugins/grid.png
  content/images/post-images/2020/01-ui-plugins/jenkins-design.png
  content/images/post-images/2020/01-ui-plugins/job.png
  content/images/post-images/2020/01-ui-plugins/jobs.png
  content/images/post-images/2020/01-ui-plugins/pie.png
  content/images/post-images/2020/01-ui-plugins/reporter-design.png
  content/images/post-images/2020/01-ui-plugins/table-model.png
  content/images/post-images/2020/01-ui-plugins/table.png
  content/images/post-images/2020/01-ui-plugins/trend-lines.png
  content/images/post-images/2020/01-ui-plugins/trend-stacked.png
Owners: @jenkins-infra/copy-editors

Include changelogs from included Jetty releases
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

List webpack as a major rfe
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Fix ${it} reference.
  content/blog/2020/01/2020-01-23-ui-plugins.adoc
Owners: @jenkins-infra/copy-editors

Acces modifier change is a developer topic
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Address review comments
  content/projects/gsoc/mentors.adoc
Owners: @jenkins-infra/gsoc

Clarify the requirement for public communications
  content/projects/gsoc/mentors.adoc
Owners: @jenkins-infra/gsoc

change name
  content/_data/logo/seonbi.yml
Owners: @jenkins-infra/copy-editors

Reorganize the content created by @alyssat
  content/projects/jam/index.adoc
Owners: @jenkins-infra/copy-editors

Text updates and cleanup
  content/projects/jam/index.adoc
Owners: @jenkins-infra/copy-editors

Withdraw martinda from mentoring in 2020
  content/projects/gsoc/2020/project-ideas/artifactory-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2020/project-ideas/bitbucket-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/eda-coverage-adapters.adoc
  content/projects/gsoc/2020/project-ideas/eda-plugins.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
Owners: @jenkins-infra/gsoc

Do not crash when mentor cannot be found
  content/_ext/authorship.rb
  content/projects/gsoc/2020/project-ideas.html.haml
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

Add 2.218 changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Note both Winstone 5.7 changes are internal
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Document new ircbot commandS
  content/projects/infrastructure/ircbot.adoc
Owners: @jenkins-infra/copy-editors

Revert "Withdrawing my name from GSoC projects"
  content/_ext/authorship.rb
  content/projects/gsoc/2020/project-ideas.html.haml
  content/projects/gsoc/2020/project-ideas/artifactory-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2020/project-ideas/bitbucket-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/eda-coverage-adapters.adoc
  content/projects/gsoc/2020/project-ideas/eda-plugins.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

Withdraw martinda from mentoring in 2020
  content/projects/gsoc/2020/project-ideas/artifactory-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2020/project-ideas/bitbucket-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/eda-coverage-adapters.adoc
  content/projects/gsoc/2020/project-ideas/eda-plugins.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
Owners: @jenkins-infra/gsoc

Do not crash when mentor cannot be found
  content/_ext/authorship.rb
  content/projects/gsoc/2020/project-ideas.html.haml
Owners: @jenkins-infra/copy-editors, @jenkins-infra/gsoc

Call display_user_no_fail for mentors without a personal .adoc file
  content/_layouts/gsocproject.html.haml
  content/_layouts/gsocprojectidea.html.haml
Owners: @jenkins-infra/gsoc

Add 2.204.2 changelog
  content/_data/changelogs/lts.yml
Owners: @jenkins-infra/copy-editors

Regression was in Winstone 5.6
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Better summary of JKS fix
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Correct attribution of work from PR 4452
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Correct attribution of work from PR 4452
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Move system logging customization fix higher
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Blog post about WebSocket
  content/blog/2020/01/2020-01-27-web-socket.adoc
Owners: @jenkins-infra/copy-editors

Backlink from 2.217 changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Updates to various bits of reference documentation to mention WebSocket
  content/doc/book/architecting-for-scale.adoc
  content/doc/book/installing/_docker.adoc
  content/doc/book/managing/cli.adoc
  content/doc/book/managing/security.adoc
Owners: @jenkins-infra/copy-editors

Remove arnab as mentor
  content/projects/gsoc/2020/project-ideas/winsw-yaml-config-support.adoc
Owners: @jenkins-infra/gsoc

Changelog: Copy-edit the 2.218 changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors

Add upgrade guideline stub for Jenkins 2.204.2 LTS
  content/_data/upgrades/2-204-2.adoc
Owners: @jenkins-infra/copy-editors

Converting draft to published asic doc
  content/projects/gsoc/2020/project-ideas/machine-learning.adoc
Owners: @jenkins-infra/gsoc

GSoC 2019 Report
  content/blog/2020/01/2020-01-24-gsoc-report.adoc
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-highlights.png
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-mentor-summit.jpg
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-team-jw-lisbon.jpg
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-team-jw-us.jpg
  content/images/post-images/2020/01-gsoc2019-report/swag-before-shipping.jpg
Owners: @jenkins-infra/gsoc

Update infra meeting time
  content/projects/infrastructure/index.adoc
Owners: @jenkins-infra/copy-editors

Update infra meeting in recurring events
  content/events/index.html.haml
Owners: @jenkins-infra/copy-editors

GSoC 2019 report - Change the blogpost date
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
Owners: @jenkins-infra/gsoc

Add 2019-01-29 security advisory, changelog, and upgrade guide
  content/_data/changelogs/lts.yml
  content/_data/changelogs/weekly.yml
  content/_data/upgrades/2-204-2.adoc
  content/security/advisory/2020-01-29.adoc
Owners: @jenkins-infra/copy-editors

GSoC 2019 report - Copy-edit entries for Parichay and long
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
Owners: @jenkins-infra/gsoc

Add hardening entries to weekly changelog
  content/_data/changelogs/weekly.yml
Owners: @jenkins-infra/copy-editors
