Repository jenkins-infra/jenkins.io, pull requests merged in 2019-09, with the labels that each got.

#2452 [JENKINS-59036] Resize images
  content/images/post-images/gsoc-plugin-management-tool/cdfkeynote.jpg
  content/images/post-images/gsoc-plugin-management-tool/cdforigin.jpg
  content/images/post-images/gsoc-plugin-management-tool/contributorsummit.jpg
  content/images/post-images/gsoc-plugin-management-tool/devopsworld.jpeg
  content/images/post-images/gsoc-plugin-management-tool/jenkinssticker.jpg
  content/images/post-images/gsoc-plugin-management-tool/kubernetes.jpg
  content/images/post-images/gsoc-plugin-management-tool/orgadmins.jpg
  content/images/post-images/gsoc-plugin-management-tool/pipeline.jpg
  content/images/post-images/gsoc-plugin-management-tool/presentation.jpg
  content/images/post-images/gsoc-plugin-management-tool/speakerbadge.jpg
  content/images/post-images/gsoc-plugin-management-tool/willcodeforbeer.jpg
Labels: gsoc

#2450 [JENKINS-59115] Documentation for branch when condition with comparator
  content/doc/book/pipeline/syntax.adoc
Labels: on-hold

#2435 [GSOC Working Hours Plugin] Add Introduce React Boilerplate for Jenkins Plugin
  content/blog/2019/08/2019-08-23-introduce-react-plugin-template.adoc
  content/images/post-images/react-plugin-template/management-link.jpg
  content/images/post-images/react-plugin-template/plugin-ui.jpg
Labels: gsoc

#2462 Revert "Initial draft for the blogpost template"
  .github/PULL_REQUEST_TEMPLATE/2-blogpost.md
Labels: bug

#2407 Fill out forms chapter
  content/_layouts/developerbook.html.haml
  content/doc/developer/development-environment/_chapter.yml
  content/doc/developer/development-environment/ide-configuration.adoc
  content/doc/developer/development-environment/index.adoc
  content/doc/developer/development-environment/taglibs.adoc
  content/doc/developer/forms/_chapter.yml
  content/doc/developer/forms/adding-tool-tips.adoc
  content/doc/developer/forms/form-validation.adoc
  content/doc/developer/forms/index.adoc
  content/doc/developer/forms/jelly-form-controls.adoc
  content/doc/developer/forms/structured-form-submission.adoc
  content/doc/developer/internationalization/prepare-a-java-source-file.adoc
  content/doc/developer/views/index.adoc
Labels: on-hold

#2454 Introducing the jira software plugin for jenkins
  content/_data/authors/rafalmyslek.adoc
  content/blog/2019/09/2019-09-10-introducing-the-jira-software-plugin-for-jenkins.adoc
  content/images/post-images/introducing-the-jira-software-plugin-for-jenkins/dev-tools-ticketview.png
  content/images/post-images/introducing-the-jira-software-plugin-for-jenkins/jql.png
Labels: blogpost

#2477 Hacktoberfest 2019 - Create a skeleton for the landing page
  content/events/hacktoberfest.adoc
  content/events/index.html.haml
  content/images/hacktoberfest/2019_badge.png
  content/images/hacktoberfest/2019_social.png
  content/sigs/advocacy-and-outreach/outreach-programs/index.adoc
Labels: hacktoberfest

#2479 Add support of multiple authors to the blogposts + fix the Pipeline Config History post
  content/_data/authors/jochenafuerbacher.adoc
  content/_data/authors/pch-maintainers.adoc
  content/_data/authors/robinrschulz.adoc
  content/_data/authors/stefanbrausch.adoc
  content/_ext/authorlist.rb
  content/_ext/authorship.rb
  content/_layouts/post.html.haml
  content/blog/2019/07/2019-07-15-pipeline-config-history-plugin.adoc
Labels: enhancement

#2497 Hacktoberfest 2019: Link the Swiss JAM
  content/events/hacktoberfest.adoc
Labels: hacktoberfest

#2498 Hacktoberfest 2019 - Add keywords to the featured projects
  content/events/hacktoberfest.adoc
Labels: hacktoberfest

#2499 Update and rename 2019-10-10-Hacktoberfest-in-Neuchâtel
  content/_data/events/2019-10-10-Hacktoberfest-in-Neuchâtel: Jenkins & Friends.adoc
  content/_data/events/2019-10-10-swissjam-neuchatel..adoc
Labels: hacktoberfest

#2500 Hacktoberfest 2019 - Add a Jumbotron slide
  content/events/hacktoberfest.adoc
  content/index.html.haml
Labels: hacktoberfest

#2504 2019 Elections - Add an announcement blogpost and Jumbotron
  content/blog/2019/09/2019-09-25-board-elections.adoc
  content/index.html.haml
Labels: blogpost

#2508 Hacktoberfest 2019 - Add Jenkins Online Meetups to the event list
  content/_data/events/2019-10-03-jom-hacktoberfest-1.adoc
  content/_data/events/2019-10-03-jom-hacktoberfest-2.adoc
  content/events/hacktoberfest.adoc
Labels: hacktoberfest

#2513 Hacktoberfest 2019 - Copy-edit the featured Project descriptions
  content/events/hacktoberfest.adoc
Labels: hacktoberfest

#2514 [Docs SIG] - Add plugin docs and plugin site as SIG projects + Hacktoberfest featured project
  content/events/hacktoberfest.adoc
  content/sigs/docs/index.adoc
Labels: hacktoberfest

#2518 Hacktoberfest 2019 - Add Gitlab and Prometheus plugins as featured projects, move Jenkins website to the top
  content/events/hacktoberfest.adoc
Labels: hacktoberfest

#2520 Hacktoberfest 2019 - Add the announcement blog + apply some copy edits
  content/blog/2019/10/2019-10-01-hacktoberfest.adoc
  content/events/hacktoberfest.adoc
  content/events/hacktoberfest/faq.adoc
Labels: hacktoberfest

#2523 #hacktoberfest 2019 - Fix accessing-the-jenkins-blue-ocean-docker-container link
  content/doc/book/installing/_docker.adoc
Labels: hacktoberfest
