Repository jenkins-infra/jenkins.io, pull requests merged in 2020-04, with the labels that each got.

#3020 Document label condition configurability
  content/doc/book/pipeline/syntax.adoc
Labels: documentation

#3017 Move the LTS baseline selection to take place 2 weeks earlier in the cycle
  content/download/lts/index.adoc
Labels: governance

#2957 [JEP-14] - Public Jenkins Roadmap
  content/_data/roadmap/roadmap.yml
  content/css/blueocean-roadmap-style.css
  content/css/roadmap.css
  content/project/index.adoc
  content/project/roadmap/index.html.haml
Labels: governance

#3027 [JEP-14] - Add description tooltips to roadmap items
  content/project/roadmap/index.html.haml
Labels: governance, roadmap

#3028 JEP-14 - Link the Windows Installer initiative
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3029 JEP-14 - recategorize roadmap to focus on use-cases, not on components
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3024 Confgure Autolabeler for the roadmap changes
  .github/autolabeler.yml
Labels: chore, roadmap

#3023 Add s390x, ppc64, and ARM to roadmap
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3031 Center roadamp text in last cell
  content/css/roadmap.css
Labels: roadmap

#3030 "Enable Security" removed in 2.222.1
  content/doc/book/managing/security.adoc
  content/doc/book/resources/managing/configure-global-security-enable-security.png
  content/doc/book/resources/managing/configure-global-security.png
Labels: documentation

#3032 Add an example for using a secret file credential
  content/doc/book/pipeline/jenkinsfile.adoc
Labels: documentation

#3040 Add Jenkins 2.230 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#3041 Fix the 2.223 release date
  content/_data/changelogs/weekly.yml
Labels: changelog

#3042 Roadmap: Add category links
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3043 Events: Add entry for the Jenkins online meetup on April 17
  content/_data/events/2020-04-17-jom-kubernetes-getting-started.adoc
Labels: events

#3045 Adding myself to the mentor list
  content/projects/gsoc/2020/project-ideas/remoting-monitoring.adoc
Labels: gsoc

#3047 Link to updated DZone pipeline reference card
  content/solutions/pipeline.adoc
Labels: documentation

#3012 Describe labeling with GitHub topics
  content/doc/developer/publishing/documentation.adoc
  content/doc/developer/publishing/plugin-site.adoc
  content/doc/developer/publishing/requesting-hosting.adoc
Labels: documentation

#3044 @nikhildarocha mentor for gsoc
  content/_data/authors/nikhildarocha.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-openwrt-ppa.adoc
Labels: gsoc

#3050 Roadmap: reword the UX SIG entries
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3052 Fix links to pipeline steps in steps docs (update ibeams)
  Gemfile.lock
  content/blog/2018/01/2018-01-08-moving-from-buddybuild-for-android.adoc
  content/blog/2019/07/2019-07-25-azure-artifact-manager.adoc
  content/doc/developer/testing/index.adoc
  content/doc/tutorials/build-a-python-app-with-pyinstaller.adoc
Labels: blogpost, documentation

#3053 Add Agent terminology cleanup to the Jenkins roadmap
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3058 Add Jenkins 2.231 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#3055 Label changes to Gemfile.lock as chore
  .github/autolabeler.yml
Labels: chore

#3054 Add new Windows Support Policy to the Platform SIG roadmap
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3057 Responsive roadmap style
  content/css/roadmap.css
  content/project/roadmap/index.html.haml
Labels: governance, roadmap

#3059 Fix the securing Jenkins redirect
  content/doc/book/securing-jenkins.html.haml
Labels: bug, documentation

#3060 Jenkins Roadmap: Add Promotion support for Pipeline, change Pipeline as YAML status to near-term
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3062 Jenkins 2.231 release date 14 Apr 2020
  content/_data/changelogs/weekly.yml
Labels: changelog

#3066 Add Parichay as a mentor for git plugin caching
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Labels: gsoc

#3065 Add Parichay to mentor of git plugin performance improvement
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
Labels: gsoc

#3067 'deploy-env' is not a valid variable name
  content/doc/book/pipeline/syntax.adoc
Labels: documentation

#3071 Adding sahilkalra to mentor list
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
Labels: gsoc

#3072 Mention EMIT_LOCATION in docs on views
  content/doc/developer/views/index.adoc
Labels: documentation

#3074 Add changelog for Jenkins 2.232
  content/_data/changelogs/weekly.yml
Labels: changelog

#2988 GitHub app blog
  content/blog/2020/04/2020-04-16-github-app-authentication.adoc
  content/images/github-app-rate-limit.png
  content/images/post-images/jenkins-and-github.png
Labels: blogpost

#3068 Document how to use the Experimental update center from JCasC and Docker images
  content/doc/developer/publishing/releasing-experimental-updates.adoc
Labels: documentation

#3076 [INFRA-910] - Reference get.jenkins.o as an alternative source of updates
  content/_data/changelogs/weekly.yml
Labels: changelog

#3077 Use mirrors.jenkins-ci.org/ instead of get.jenkins.io in the banner
  content/_data/changelogs/weekly.yml
Labels: changelog

#3079 [INFRA-910] - Use http://mirrors.jenkins-ci.org as a source of weekly releases, hardcode 2/232
  content/download/index.html.haml
  content/download/thank-you-downloading-windows-installer.html.haml
Labels: changelog

#3087 Add 2.233 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#3082 Use cards for solutions page
  content/_data/solutions/android.yml
  content/_data/solutions/bitbucketserver.yml
  content/_data/solutions/c.yml
  content/_data/solutions/docker.yml
  content/_data/solutions/embedded.yml
  content/_data/solutions/github.yml
  content/_data/solutions/java.yml
  content/_data/solutions/php.yml
  content/_data/solutions/pipeline.yml
  content/_data/solutions/python.yml
  content/_data/solutions/ruby.yml
  content/css/jenkins.css
  content/images/solution-images/android.svg
  content/images/solution-images/bitbucketserver.svg
  content/images/solution-images/c.svg
  content/images/solution-images/docker.svg
  content/images/solution-images/embedded.svg
  content/images/solution-images/github.svg
  content/images/solution-images/java.svg
  content/images/solution-images/php.svg
  content/images/solution-images/pipeline.svg
  content/images/solution-images/python.svg
  content/images/solution-images/ruby.svg
  content/participate/index.html.haml
  content/solutions/index.html.haml
Labels: documentation

#3084 JEP-14 - Initialize roadmap for Jenkins developer tools
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3088 Update bom instructions
  content/doc/developer/plugin-development/dependency-management.adoc
Labels: documentation

#3085 JEP-14: Initialize the "Jenkins on cloud platforms" roadmap section
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3081 Highlight Documentation SIG channels as contact points for the website contributions
  CONTRIBUTING.adoc
  README.adoc
Labels: chore, documentation

#3089 New Stay Safe Jenkins Logo
  content/_data/logo/stay-safe.yml
  content/images/logos/stay-safe/256.png
  content/images/logos/stay-safe/stay-safe.png
Labels: artwork

#3086 Platform SIG - Add project descriptions and roadmap items
  content/_data/roadmap/roadmap.yml
  content/sigs/platform/index.adoc
Labels: roadmap

#3090 Add Docs roadmap items
  content/_data/roadmap/roadmap.yml
  content/sigs/docs/index.adoc
Labels: roadmap

#3096 Roadmap: Add more items for developer tools
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3093 Roadmap: Add descriptions and links for JCasC-related entries
  content/_data/roadmap/roadmap.yml
  content/sigs/docs/index.adoc
Labels: roadmap

#3092 Roadmap pipeline
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#3063 Add changelog and upgrade guide for 2.222.2
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-222-2.adoc
Labels: changelog

#3101 Remove extra characters from system properties table
  content/doc/book/managing/system-properties.adoc
Labels: documentation

#3107 Google Season of Docs: Initialize landing and link it from other pages
  content/participate/document.adoc
  content/sigs/advocacy-and-outreach/outreach-programs/index.adoc
  content/sigs/docs/gsod/index.adoc
  content/sigs/docs/index.adoc
Labels: documentation

#3099 Add solution pages improvements to docs roadmap
  content/_data/roadmap/roadmap.yml
  content/sigs/docs/index.adoc
Labels: roadmap

#3112 GSoC 2020: Extend and detail the expectations from mentors during the community bonding
  content/projects/gsoc/mentors.adoc
Labels: gsoc

#3113 Easier site dev and test without unnecessary absolute references
  content/doc/administration/requirements/jenkins-on-java-11.adoc
  content/doc/book/architecting-for-scale.adoc
  content/doc/book/managing/plugins.adoc
  content/doc/book/managing/script-console.adoc
  content/doc/book/managing/system-properties.adoc
  content/doc/book/pipeline/jenkinsfile.adoc
  content/doc/book/pipeline/scaling-pipeline.adoc
  content/doc/book/pipeline/shared-libraries.adoc
  content/doc/book/pipeline/syntax.adoc
  content/doc/developer/handling-requests/actions.adoc
  content/doc/developer/handling-requests/stapler-accessible-type.adoc
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
  content/doc/developer/plugin-development/writing-an-scm-plugin.adoc
  content/doc/developer/publishing/artifact-repository.adoc
  content/doc/developer/publishing/documentation.adoc
  content/doc/developer/publishing/usage-statistics.adoc
  content/doc/tutorials/build-a-labview-app.adoc
  content/download/lts/index.adoc
  content/events/hacktoberfest.adoc
  content/participate/document.adoc
  content/participate/help.adoc
  content/participate/test.adoc
  content/project/conduct.adoc
  content/projects/gsoc/2018/code-coverage-api-plugin.adoc
  content/projects/gsoc/2018/simple-pull-request-job-plugin.adoc
  content/projects/gsoc/2019/gitlab-support-for-multibranch-pipeline.adoc
  content/projects/gsoc/2019/plugin-installation-manager-tool-cli.adoc
  content/projects/gsoc/2019/remoting-over-apache-kafka-docker-k8s-features.adoc
  content/projects/gsoc/2019/working-hours-improvements.adoc
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-distribution-customize-service.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/machine-learning.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
  content/projects/gsoc/2020/project-ideas/winsw-yaml-config-support.adoc
  content/projects/gsoc/gsoc2017.adoc
  content/projects/infrastructure/index.adoc
  content/projects/jcasc/index.adoc
  content/sigs/cloud-native/pluggable-storage.adoc
  content/sigs/pipeline-authoring/index.adoc
  content/sigs/ux/index.adoc
Labels: documentation, governance, gsoc

#3105 Document the online meetup platform and the CFP process
  content/events/online-meetup/index.adoc
  content/projects/jam/index.adoc
Labels: events

#3120 Avoid missing method error
  content/solutions/index.html.haml
Labels: documentation

#3118 Revamp the Documentation menu in the toolbar
  content/_partials/toptoolbar.html.haml
Labels: documentation

#3069 Adding How-To Guides
  content/participate/help.adoc
  content/participate/how-to-guides.adoc
  content/participate/report-issue.adoc
  content/participate/test.adoc
  content/participate/track-issue.adoc
Labels: squash-merge-me

#3124 Updating end of month regular status meeting
  content/sigs/pipeline-authoring/index.adoc
Labels: events

#3125 Add changelog and upgrade guide for 2.222.3, edit 2.222.2
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-222-2.adoc
  content/_data/upgrades/2-222-3.adoc
Labels: changelog

#2951 Jenkins 3D model was not migrated from Wiki
  content/artwork/index.html.haml
Labels: artwork, squash-merge-me

#3129 Changelog for Jenkins 2.234
  content/_data/changelogs/weekly.yml
Labels: changelog

#3130 Update the infrastructure provisioning section
  content/projects/infrastructure/index.adoc
Labels: documentation

#3131 Use quoted strings for YAML keys
  content/solutions/index.html.haml
Labels: documentation

#3137 Contributing: Move author metadata guide to a separate section
  CONTRIBUTING.adoc
Labels: documentation, gsoc

#3140 Fix many broken hyperlinks on jenkins.io
  content/_partials/changelog-old.html
  content/blog/2011/2011-02-05-first-governance-meeting-recap.md
  content/blog/2012/2012-02-02-happy-birthday-jenkins.md
  content/blog/2012/2012-09-28-take-the-jenkins-survey.html
  content/blog/2012/2012-11-16-new-mailing-list-for-better-event-meet-up-local-community-coordination.html
  content/blog/2014/2014-04-04-maven-job-type-performance-improvements-in-maven-plugin-2-2.html
  content/blog/2014/2014-07-09-planned-changes-in-jenkins-user-conference-contact-information-collection.html
  content/blog/2015/2015-02-09-jenkins-celebration-day-is-february-26.html
  content/blog/2016/2016-01-07-official-code-of-conduct.adoc
  content/blog/2016/2016-03-15-jenkins-certification.adoc
  content/blog/2016/2016-05-18-announcing-azure-partnership.adoc
  content/blog/2017/08/2017-08-11-remoting-update.adoc
  content/blog/2018/03/2018-03-19-introducing-jenkins-x.adoc
  content/blog/2019/05/2019-05-11-docs-sig-announcement.adoc
  content/blog/2019/12/2019-12-14-generic-webhook-trigger-plugin.adoc
  content/blog/2020/01/2020-01-07-happy-new-year.adoc
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
  content/doc/book/installing/_jenkins-command-parameters.adoc
  content/doc/book/managing/security.adoc
  content/project/conduct.adoc
  content/project/governance.adoc
  content/projects/gsoc/index.adoc
  content/projects/infrastructure/index.adoc
  content/security/advisory/2013-02-16.adoc
  content/security/advisory/2013-05-02.adoc
  content/security/advisory/2013-11-20.adoc
Labels: squash-merge-me

#3141 Contributing: Introduce a Triage team and Maintainer Guide, define ownership areas
  .github/CODEOWNERS
  CONTRIBUTING.adoc
Labels: chore, documentation

#3143 Update team-leads.adoc
  content/project/team-leads.adoc
Labels: governance

#3142 Create a landing page for the Hosting Team
  content/project/index.adoc
  content/project/teams/hosting.adoc
Labels: documentation, governance

#3122 Jenkins is the Way blog post
  content/_data/authors/alyssat.adoc
  content/_data/authors/markewaite.adoc
  content/_data/logo/jenkins-is-the-way.yml
  content/blog/2020/04/2020-04-30-jenkins-is-the-way.adoc
  content/images/logos/jenkins-is-the-way/256.png
  content/images/logos/jenkins-is-the-way/jenkins-is-the-way.png
  content/images/post-images/jenkins-is-the-way/jenkins-is-the-way-opengraph.png
  content/images/post-images/jenkins-is-the-way/jenkins-is-the-way-t-shirt.png
  content/images/post-images/jenkins-is-the-way/jenkins-is-the-way.png
Labels: artwork, blogpost, squash-merge-me
