Repository jenkins-infra/jenkins.io, pull requests merged in 2020-01, with the labels that each got.

#2728 [WEBSITE-702] - Update the donations status on the jenkins.io/donate page
  content/donate.adoc
Labels: governance

#2738 Fix typos in gsoc call for mentors 2020
  content/blog/2019/12/2019-12-20-call-for-mentors.adoc
Labels: gsoc

#2737 Improve GSoC idea submission process
  content/projects/gsoc/proposing-project-ideas.adoc
Labels: gsoc

#2734 New Year blogpost
  content/_ext/yearposts.rb
  content/blog/2016/2016-12-31-what-a-year.adoc
  content/blog/2017/12/2017-12-31-new-year.adoc
  content/blog/2018/12/2018-12-25-year-in-review.adoc
  content/blog/2020/01/2020-01-07-happy-new-year.adoc
  content/images/post-images/2020/01-new-year-blogpost/jenkins_stats_2019.png
Labels: blogpost

#2750 NY2020 Blog post - Link updates and copy-edits
  content/blog/2020/01/2020-01-07-happy-new-year.adoc
Labels: blogpost

#2752 Add CDF to the submission
  content/projects/gsoc/2020/application.md
Labels: gsoc

#2755 [FOSDEM] Fosdem 2020 blogpost
  content/_data/logo/atomium.yml
  content/blog/2020/01/2020-01-10-fosdem-is-coming.adoc
  content/images/logos/atomium/256.png
  content/images/logos/atomium/atomium.png
  content/images/post-images/fosdem
Labels: blogpost

#1978 JENKINS-49950 Allowing to use dockerhub credentials without explicit …
  content/doc/book/pipeline/syntax.adoc
Labels: on-hold

#2768 [GSoC 2020] - Application: Jenkins X is no longer a Jenkins sub-project
  content/projects/gsoc/2020/application.md
Labels: gsoc

#2769 GSoC 2020 - Move the Windows services project idea to Asciidoc && publish it
  content/projects/gsoc/2020/project-ideas/winsw-yaml-config-support.adoc
Labels: gsoc

#2772 [GSoC 2020] - Finalize the EDA Plugin project idea and move it to the published state
  content/projects/gsoc/2020/project-ideas/eda-plugins.adoc
Labels: gsoc

#2773 GSoC 2020 - Copy-edit the header about project ideas
  content/projects/gsoc/2020/project-ideas.html.haml
Labels: gsoc

#2767 Add GSoC 2020 project ideas for git plugin
  content/_data/authors/fcojfernandez.adoc
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
Labels: gsoc, on-hold

#2777 GSoC 2020 - Add support of publishing YAML project ideas as drafts + better draft notice
  content/_layouts/gsocprojectidea.html.haml
Labels: gsoc

#2781 Replace wiki links with jenkins.io links
  content/sigs/docs/index.adoc
Labels: bug

#2780 Publish git plugin caching idea for GSoC 2020
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Labels: gsoc

#2778 Publish git plugin performance idea for GSoC 2020
  content/projects/gsoc/2020/project-ideas/git-plugin-performance.adoc
Labels: gsoc

#2795 Blogpost: A new chapter for Kohsuke
  content/blog/2020/01/2020-01-23-a-new-chapter-for-kohsuke.adoc
  content/images/post-images/2020/01-a-new-chapter-for-kohsuke/thanks-kohsuke.png
Labels: blogpost

#2783 Update the GSoC mentor expectations
  content/projects/gsoc/mentors.adoc
Labels: gsoc

#2805 Gsoc withdraw martinda
  content/_ext/authorship.rb
  content/_layouts/gsocproject.html.haml
  content/_layouts/gsocprojectidea.html.haml
  content/projects/gsoc/2020/project-ideas.html.haml
  content/projects/gsoc/2020/project-ideas/artifactory-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2020/project-ideas/bitbucket-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/eda-coverage-adapters.adoc
  content/projects/gsoc/2020/project-ideas/eda-plugins.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
Labels: gsoc

#2655 GSoC 2019 Report
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-highlights.png
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-mentor-summit.jpg
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-team-jw-lisbon.jpg
  content/images/post-images/2020/01-gsoc2019-report/gsoc2019-team-jw-us.jpg
  content/images/post-images/2020/01-gsoc2019-report/swag-before-shipping.jpg
Labels: blogpost, gsoc

#2812 GSoC 2019 report - minor copy-edits
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
Labels: blogpost
