Repository jenkins-infra/jenkins.io, pull requests merged in 2020-03, with the labels that each got.

#2910 Changing to the pipeline sig, my bio and a new blog post
  content/_data/authors/markyjackson-taulia.adoc
  content/blog/2020/03/2020-03-02-pipeline-authoring-sig-update.adoc
  content/images/avatars/markyjackson-taulia.png
  content/sigs/pipeline-authoring/index.adoc
Labels: blogpost

#2912 Amending blog post with a new `contact us` section
  content/blog/2020/03/2020-03-02-pipeline-authoring-sig-update.adoc
Labels: blogpost

#2914 Add Probot Autolabeler configuration
  .github/autolabeler.yml
Labels: chore

#2919 Add 2.204.4 changelog and upgrade notes
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-204-4.adoc
Labels: changelog

#2918 Autolabeler: Add governance, changelog and documentation labels discovery
  .github/autolabeler.yml
Labels: chore

#2915 Blog post about adding findsecbugs into parent poms
  content/_data/authors/jeffret-b.adoc
  content/blog/2020/03/2020-03-02-findsecbugs.adoc
  content/images/avatars/jeffret-b.jpg
Labels: blogpost

#2925 document Jenkins URL and Resource Root URL
  content/doc/book/glossary/index.adoc
Labels: documentation

#2922 GSoC 2020 - Adjust headers in the student guide so that the Project Proposal requirements are visible in ToC
  content/projects/gsoc/students.adoc
Labels: gsoc

#2928 Pixel Art logo
  content/_data/logo/pixelart.yml
  content/images/logos/pixelart/jenkins-pixelart-256.png
  content/images/logos/pixelart/jenkins-pixelart-32.png
Labels: artwork

#2927 Add reference and link to Azure VM Agents plugin
  content/doc/book/architecting-for-scale.adoc
Labels: documentation

#2930 rename casz to jetersen
  content/_data/authors/jetersen.adoc
  content/_data/changelogs/weekly.yml
  content/blog/2019/06/2019-06-29-phase-1-multibranch-pipeline-support-for-gitlab.adoc
  content/blog/2020/01/2020-01-29-gsoc-report.adoc
  content/projects/gsoc/2019/gitlab-support-for-multibranch-pipeline.adoc
  content/projects/gsoc/2019/project-ideas/gitlab-support-for-multibranch-pipeline.adoc
  content/security/advisory/2020-02-12.adoc
Labels: blogpost, changelog, gsoc

#2935 GSoC 2020 - polish landing
  content/projects/gsoc/index.adoc
Labels: gsoc

#2934 GSoC 2020 - minor profile updates
  content/projects/gsoc/2020/application.md
Labels: gsoc

#2932 Fix the CDF projects link on the /press page
  content/press.adoc
Labels: bug

#2936 Add changelog for 2.204.5
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-204-5.adoc
Labels: changelog

#2939 Update events officer role
  content/project/team-leads.adoc
Labels: governance

#2940 Revert "Update events officer role"
  content/project/team-leads.adoc
Labels: governance

#2942 CODEOWNERS - Explicitly mark the Governance Board as an owner for Governance-related pages
  .github/CODEOWNERS
Labels: chore, governance

#2941 add link to doc sig
  content/project/team-leads.adoc
Labels: governance

#2944 Add 2.224 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#2945 Improve the 2.204.5 changelog
  content/_data/changelogs/lts.yml
  content/_data/changelogs/weekly.yml
  content/_data/upgrades/2-204-5.adoc
Labels: changelog

#2947 update punctuation and statement in weekly changelog 2.224
  content/_data/changelogs/weekly.yml
Labels: changelog

#2946 Describe SCM save regression in Jenkins 2.224 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#2948 End quoted string to fix weekly changelog rendering
  content/_data/changelogs/weekly.yml
Labels: changelog

#2949 Add changelog for 2.225
  content/_data/changelogs/weekly.yml
Labels: changelog

#2952 GSoC 2020 - Add a CFP Jumbotron
  content/images/gsoc/jenkins-gsoc-transparent.png
  content/index.html.haml
Labels: gsoc

#2956 Reword using correct term
  content/doc/book/architecting-for-scale.adoc
Labels: documentation

#2954 adding sharepointoscar as mentor
  content/_data/authors/omedina.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
Labels: gsoc

#2961 add marckk author file and to gsoc mentor list
  content/_data/authors/marckk.adoc
  content/images/avatars/karamarck.jpg
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
Labels: gsoc

#2965 Refresh Pipeline solutions links
  content/solutions/pipeline.adoc
Labels: documentation

#2963 Updating jenkins-rest-plugin state
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
Labels: gsoc

#2969 Fix Python tutorial failure in pyinstaller
  content/doc/book/installing/_setup-wizard-for-tutorials.adoc
  content/doc/book/resources/tutorials/python-pyinstaller-01-downloading-python-docker-image.png
  content/doc/book/resources/tutorials/python-pyinstaller-02-initial-pipeline-runs-successfully-step-opened.png
  content/doc/book/resources/tutorials/python-pyinstaller-03-main-blue-ocean-interface.png
  content/doc/book/resources/tutorials/python-pyinstaller-11-test-stage-runs-successfully-with-output.png
  content/doc/book/resources/tutorials/python-pyinstaller-21-deliver-stage-runs-successfully.png
  content/doc/book/resources/tutorials/python-pyinstaller-22-deliver-stage-output-only.png
  content/doc/book/resources/tutorials/python-pyinstaller-23-main-blue-ocean-interface-with-all-previous-runs-displayed.png
  content/doc/book/resources/tutorials/python-pyinstaller-24-deliver-stage-artifacts-page.png
  content/doc/tutorials/build-a-python-app-with-pyinstaller.adoc
Labels: documentation

#2970 Add 2.226 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#2973 Add NextTurn to mentors
  content/_data/authors/nextturn.adoc
  content/projects/gsoc/2020/project-ideas/winsw-yaml-config-support.adoc
Labels: gsoc

#2975 Jenkins 2.226 jelly enum tag change fixes JENKINS-61385
  content/_data/changelogs/weekly.yml
Labels: changelog

#2976 Remove docker image after use in the build
  content/doc/tutorials/build-a-python-app-with-pyinstaller.adoc
Labels: documentation

#2977 GSoC 2020 - Fix typo in the student guide header
  content/projects/gsoc/students.adoc
Labels: gsoc

#2979 Spelling fix
  content/doc/book/pipeline/syntax.adoc
Labels: documentation

#2980 Remove rsandell as potential GSoC mentor
  content/projects/gsoc/2020/project-ideas/git-plugin-caching.adoc
Labels: gsoc

#2978 add jenkins-x-openwrt-ppa.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-openwrt-ppa.adoc
Labels: gsoc

#2981 GSoC 2020 - Update project mentors for Remoting Monitoring and Jenkins X
  content/_data/authors/zoobab.adoc
  content/projects/gsoc/2020/project-ideas/remoting-monitoring.adoc
Labels: gsoc

#2937 Development tutorial on IntelliJ Setup for Jenkins Core Development
  content/_data/authors/stellargo.adoc
  content/doc/developer/building/_chapter.yml
  content/doc/developer/building/intellij.adoc
  content/images/developer/building/intellij/build1.png
  content/images/developer/building/intellij/build2.png
  content/images/developer/building/intellij/debug1.png
  content/images/developer/building/intellij/debug2.png
  content/images/developer/building/intellij/debug3.png
  content/images/developer/building/intellij/debug4.png
  content/images/developer/building/intellij/debug5.png
  content/images/developer/building/intellij/setup1.png
  content/images/developer/building/intellij/setup2.png
  content/images/developer/building/intellij/setup3.png
  content/images/developer/building/intellij/setup4.png
  content/images/developer/building/intellij/setup5.png
  content/images/developer/building/intellij/setup6.png
  content/images/developer/building/intellij/setup7.png
Labels: documentation

#2982 GSoC 2020 - Add @aytuncbeken as mentor, mark the Pipeline as YAML project idea as accepted
  content/_data/authors/aytuncbeken.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-as-yaml-experiment.adoc
Labels: gsoc

#2983 fix spelling of OpenWrt project, not OpenWRT
  content/projects/gsoc/2020/project-ideas/jenkins-x-openwrt-ppa.adoc
Labels: gsoc

#2797 Add new post: Beautify the UI of Jenkins plugins
  content/blog/2020/03/2020-03-17-ui-plugins.adoc
  content/images/post-images/2020/01-ui-plugins/build.png
  content/images/post-images/2020/01-ui-plugins/card.png
  content/images/post-images/2020/01-ui-plugins/chart-model.png
  content/images/post-images/2020/01-ui-plugins/font-awesome.png
  content/images/post-images/2020/01-ui-plugins/forensics-view-model.png
  content/images/post-images/2020/01-ui-plugins/grid.png
  content/images/post-images/2020/01-ui-plugins/jenkins-design.png
  content/images/post-images/2020/01-ui-plugins/job.png
  content/images/post-images/2020/01-ui-plugins/jobs.png
  content/images/post-images/2020/01-ui-plugins/pie.png
  content/images/post-images/2020/01-ui-plugins/reporter-design.png
  content/images/post-images/2020/01-ui-plugins/summary.png
  content/images/post-images/2020/01-ui-plugins/table-model.png
  content/images/post-images/2020/01-ui-plugins/table.png
  content/images/post-images/2020/01-ui-plugins/trend-lines.png
  content/images/post-images/2020/01-ui-plugins/trend-stacked.png
Labels: blogpost

#2984 GSoC 2020 - Add Jenkins Online Meetup Materials, reorder content
  content/projects/gsoc/index.adoc
Labels: gsoc

#2989 Add Jenkins 2.227 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#2992 Migrate System Properties documentation from Wiki to jenkins.io
  content/doc/book/managing/_chapter.yml
  content/doc/book/managing/system-properties.adoc
Labels: documentation

#2993 Don't mention styling PR in 2.227 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#2991 Update ruby dependencies
  Gemfile
  Gemfile.lock
  Jenkinsfile
  Makefile
  scripts/asciidoctor-pdf
Labels: chore

#2995 GSoC2020 Timeline update (remove absolute time references)
  content/projects/gsoc/mentors.adoc
Labels: gsoc

#2997 Update build-a-java-app-with-maven.adoc
  content/doc/tutorials/build-a-java-app-with-maven.adoc
Labels: documentation

#2998 Remove @oleg-nenashev from the GitHub Checks API project idea
  content/projects/gsoc/2020/project-ideas/github-checks.adoc
Labels: gsoc

#2999 Fix phrasing error reported in page feedback
  content/doc/book/installing/_setup-wizard.adoc
Labels: documentation

#3000 update bitbucketserver.adoc to mention multibranch pipelines
  content/solutions/bitbucketserver.adoc
Labels: documentation

#2990 Add Jenkins 2.222.1 changelog
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-222-1.adoc
Labels: changelog

#3001 GSoC 2020 - Add Quick start and Newbie friendly issues to the REST API Spec generator idea, publish it
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
Labels: gsoc

#3005 Describe JENKINS-61688 in 2.222.1 upgrade guide and changelog
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-222-1.adoc
Labels: changelog

#3006 Reduce changelog yellowness
  content/_data/changelogs/lts.yml
Labels: changelog

#3002 Update minimum recommended baseline based on supported update centers
  content/doc/developer/plugin-development/choosing-jenkins-baseline.adoc
Labels: documentation

#3007 Gsoc roles and responsibilities update
  content/projects/gsoc/mentors.adoc
  content/projects/gsoc/roles-and-responsibilities.adoc
Labels: gsoc

#3008 Removing myself from GSoC jx mentors project list
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
Labels: gsoc

#3009 Adding files for Sahil to Jenkins JX project mentor list
  content/_data/authors/sahilrkalra.adoc
  content/images/avatars/sahilrkalra.png
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-openwrt-ppa.adoc
Labels: gsoc

#3013 Add 2.229 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#3015 Improve the 2.229 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#3011 Make community bonding list render as a list
  content/projects/gsoc/mentors.adoc
Labels: gsoc

#3004 Add Azure Key Vault credential provider blog
  content/_data/authors/timja.adoc
  content/blog/2020/03/2020-03-30-azure-key-vault-cred-provider.adoc
  content/images/post-images/azure-key-vault/azure-key-vault-global-config.png
  content/images/post-images/azure-key-vault/azure-service-principal-configuration.png
  content/images/post-images/azure-key-vault/azure-service-principal-drop-down.png
  content/images/post-images/azure-key-vault/jenkins-on-azure.png
Labels: blogpost

#3019 Added shivaylamba as mentor
  content/projects/gsoc/2020/project-ideas/machine-learning.adoc
Labels: gsoc

#3021 Update multibranch and organization folder lists
  content/doc/book/pipeline/multibranch.adoc
Labels: documentation
