Repository jenkins-infra/jenkins.io, pull requests merged in 2020-02, with the labels that each got.

#2814 [GSoC 2019] - link the project report from the 2019 page
  content/projects/gsoc/2019/index.adoc
Labels: gsoc

#2807 Blog post & documentation updates about WebSocket
  content/_data/changelogs/weekly.yml
  content/blog/2020/02/2020-02-02-web-socket.adoc
  content/doc/book/architecting-for-scale.adoc
  content/doc/book/installing/_docker.adoc
  content/doc/book/managing/cli.adoc
  content/doc/book/managing/security.adoc
Labels: on-hold

#2815 GSoC 2020 - Update the application
  content/projects/gsoc/2020/application.md
Labels: gsoc

#2822 Convert draft of GitHub Checks API for Jenkins Plugins to AsciiDoc
  content/projects/gsoc/2020/project-ideas/github-checks.adoc
Labels: gsoc

#2824 Update proposals with asciidoc
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
Labels: gsoc

#2829 GSoC 2020 - More application updates
  content/projects/gsoc/2020/application.md
Labels: gsoc

#2828 GSoC 2020 - Add support of "project ideas under discussion"
  content/_layouts/gsocprojectidea.html.haml
  content/projects/gsoc/2020/project-ideas.html.haml
  content/projects/gsoc/2020/project-ideas/jenkins-cli-in-go.adoc
  content/projects/gsoc/2020/project-ideas/jx-consolidate-addons-and-apps.adoc
Labels: gsoc

#2820 Create Plugin Installation Manager Tool GSoC proposal
  content/projects/gsoc/2020/project-ideas/plugin-installation-manager-tool.adoc
Labels: gsoc

#2834 GSoC - clarify the project idea states, add links to GSoC retrospectives
  content/projects/gsoc/2018/index.adoc
  content/projects/gsoc/2019/index.adoc
  content/projects/gsoc/2020/project-ideas.html.haml
  content/projects/gsoc/gsoc2016.adoc
Labels: gsoc

#2835 GSoC - Fix text duplication in the mentor guide
  content/projects/gsoc/mentors.adoc
Labels: gsoc

#2821 Add blog about trip to DWJW Lisbon 2019
  content/blog/2020/02/2020-02-07-trip-to-dwjw.adoc
  content/images/post-images/role-strategy-performance/dwjw-01.png
  content/images/post-images/role-strategy-performance/dwjw-02.png
  content/images/post-images/role-strategy-performance/dwjw-03.png
  content/images/post-images/role-strategy-performance/dwjw-04.png
  content/images/post-images/role-strategy-performance/dwjw-05.png
  content/images/post-images/role-strategy-performance/dwjw-06.png
  content/images/post-images/role-strategy-performance/dwjw-07.png
  content/images/post-images/role-strategy-performance/dwjw-08.png
  content/images/post-images/role-strategy-performance/dwjw-09.png
  content/images/post-images/role-strategy-performance/dwjw-10.png
  content/images/post-images/role-strategy-performance/dwjw-11.png
  content/images/post-images/role-strategy-performance/dwjw-12.png
  content/images/post-images/role-strategy-performance/dwjw-13.png
  content/images/post-images/role-strategy-performance/dwjw-14.jpg
  content/images/post-images/role-strategy-performance/dwjw-15.jpg
  content/images/post-images/role-strategy-performance/dwjw-16.jpg
Labels: blogpost

#2841 Fix the list in automatic spec generator idea
  content/projects/gsoc/2020/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
Labels: gsoc

#2850 GSoC 2020 - Remove the duplicated project idea
  content/projects/gsoc/2020/project-ideas/jx-consolidate-addons-and-apps.adoc
Labels: gsoc

#2856 Move jenkins-rest gsoc idea to discussion status
  content/projects/gsoc/2020/project-ideas/jenkins-rest-plugin.adoc
Labels: gsoc

#2857 Move artifactory-rest gsoc idea to discussion status
  content/projects/gsoc/2020/project-ideas/artifactory-rest-plugin.adoc
Labels: gsoc

#2849 GSoC Project Idea Draft - Experimental Pipeline as YAML plugin
  content/projects/gsoc/2020/project-ideas/pipeline-as-yaml-experiment.adoc
Labels: gsoc

#2865 GSoC 2020 - Publish the External Fingerprint storage project idea
  content/projects/gsoc/2020/project-ideas/external-fingerprint-storage-for-jenkins.adoc
Labels: gsoc

#2863 GSoC 2020 - Polling Docker Registries: fix Jira query and publish the idea
  content/projects/gsoc/2020/project-ideas/docker-registries-polling-plugin.adoc
Labels: gsoc

#2867 GSoC 2020: Minor updates for the JX Boot Apps project idea
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
Labels: gsoc

#2868 GSoC 2020 - Fix JX chat links and add a profile for @nehagup
  content/_data/authors/nehagup.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
Labels: gsoc

#2872 GSoC 2020 - Publish the JX project ideas
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-boot-apps.adoc
Labels: gsoc

#2873 GSoC 2020 - Publish the EDA coverage project idea
  content/projects/gsoc/2020/project-ideas/eda-coverage-adapters.adoc
Labels: gsoc

#2874 GSoC 2020 - Publish the Pipeline as YAML project idea
  content/projects/gsoc/2020/project-ideas/pipeline-as-yaml-experiment.adoc
Labels: gsoc

#2858 Clarify use of Google Docs for GSoC projec ideas
  content/projects/gsoc/proposing-project-ideas.adoc
Labels: gsoc

#2799 Add blog post for Jenkins World Lisbon
  content/blog/2020/02/2020-02-19-jenkins-world-lisbon-with-love-from-india.adoc
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/dev-comics.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/fun-run.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/graffiti-painter.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/jenkins-gsoc-team.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/jenkins-x-intro.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/ponte-de-abril.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/project-presentation.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/superhero-party.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/swags-dwjw.jpg
  content/images/post-images/2020/01-gsoc-jenkins-world-parichay/with_oleg.jpg
Labels: blogpost, gsoc

#2877 Add mike cirioli to projects he is interested in mentoring
  content/_data/authors/mikecirioli.adoc
  content/projects/gsoc/2020/project-ideas/artifactory-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/docker-registries-polling-plugin.adoc
  content/projects/gsoc/2020/project-ideas/external-fingerprint-storage-for-jenkins.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-step-documentation-generator.adoc
  content/projects/gsoc/2020/project-ideas/remoting-monitoring.adoc
  content/projects/gsoc/2020/project-ideas/winsw-yaml-config-support.adoc
Labels: gsoc

#2876 bitbucket rest to discussion project & adding to me to jx project add-on as a mentor
  content/projects/gsoc/2020/project-ideas/bitbucket-rest-plugin.adoc
  content/projects/gsoc/2020/project-ideas/jenkins-x-apps-consolidation.adoc
Labels: gsoc

#2895 GSoC 2020 accepted
  content/projects/gsoc/index.adoc
Labels: gsoc

#2897 Update list of gsoc participants
  content/sigs/gsoc/index.adoc
Labels: gsoc

#2898 Add links for mentors
  content/projects/gsoc/mentors.adoc
Labels: gsoc

#2900 GSoC 2020: Remove Table of Contents tag from the project ideas guide
  content/projects/gsoc/proposing-project-ideas.adoc
Labels: gsoc

#2541 JCasC VSCode Dev Tools Case Study.
  content/blog/2020/02/2020-02-25-vscode-caseStudy.adoc
  content/images/projects/jcasc/VSCode/userDocs1.png
  content/images/projects/jcasc/VSCode/userDocs2.png
  content/images/projects/jcasc/VSCode/vscode.png
Labels: blogpost

#2878 Make the distribution-customize-service proposal publishable
  content/projects/gsoc/2020/project-ideas/jenkins-distribution-customize-service.adoc
Labels: gsoc

#2907 Add jeffpearce as potential mentor
  content/projects/gsoc/2020/project-ideas/jenkins-distribution-customize-service.adoc
  content/projects/gsoc/2020/project-ideas/pipeline-as-yaml-experiment.adoc
Labels: gsoc

#2906 Move the Pipeline as YAML project idea back to drafts
  content/projects/gsoc/2020/project-ideas/pipeline-as-yaml-experiment.adoc
Labels: gsoc

#2905 reference newbie-friendly issues from the CONTRIBUTING guide
  CONTRIBUTING.adoc
Labels: chore
