Repository jenkins-infra/jenkins.io, pull requests merged in 2021-03, with the labels that each got.

#4146 Add pipeline steps doc generator improvement idea
  content/projects/gsoc/2021/project-ideas/pipeline-step-documentation-generator.adoc
Labels: gsoc

#4148 Add Jenkins 2.282 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4149 Add mentor and fix a link
  content/projects/gsoc/2021/project-ideas/pipeline-step-documentation-generator.adoc
Labels: gsoc

#4150 master->controller and a couple spelling issues
  content/_data/upgrades/2-19-3.adoc
  content/_data/upgrades/2-32-1.adoc
  content/_data/upgrades/2-7-2.adoc
  content/_data/upgrades/2-73-1.adoc
  content/blog/2018/10/2018-10-01-hacktoberfest.adoc
  content/blog/2019/08/2019-08-22-devops-world.adoc
  content/blog/2020/02/2020-02-07-trip-to-dwjw.adoc
  content/blog/2020/09/2020-09-10-jenkins-continuous-evolution-cdcon.adoc
  content/doc/upgrade-guide/2.60/windows.adoc
  content/events/fosdem/archive/2016.adoc
  content/projects/gsoc/2018/remoting-over-message-bus.adoc
  content/projects/gsoc/2019/project-ideas/winsw-yaml-config-support.adoc
  content/projects/gsoc/2019/role-strategy-performance.adoc
  content/projects/gsoc/2020/project-ideas/winsw-yaml-config-support.adoc
  content/projects/gsoc/2020/projects/external-fingerprint-storage.adoc
  content/projects/gsoc/2020/projects/winsw-yaml-configs.adoc
  content/security/advisory/2018-06-25.adoc
  content/security/advisory/2018-07-18.adoc
  content/security/advisory/2018-12-05.adoc
Labels: blogpost, changelog, documentation, gsoc

#4152 GSoC 2021 - Update plugin installation manager idea description, fix year metadata in project ideas
  content/projects/gsoc/2021/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2021/project-ideas/jenkins-custom-distribution-service-updates.adoc
  content/projects/gsoc/2021/project-ideas/plugin-installation-manager-tool.adoc
  content/projects/gsoc/2021/project-ideas/remoting-monitoring.adoc
Labels: gsoc

#4153 Fix #4136 with site local link
  content/doc/book/installing/war-file.adoc
Labels: documentation

#4156 Add stellargo as mentor
  content/projects/gsoc/2021/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2021/project-ideas/remoting-monitoring.adoc
Labels: gsoc

#4157 Remove double link to governance meeting agenda
  content/project/governance.adoc
Labels: governance

#4158 Jenkins 2.283 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4159 Add more items to 2.283 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4134 Add 2.277.1 changelog and upgrade guide
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-277-1.adoc
Labels: changelog, squash-merge-me

#4163 GSoC 2021 - Fix the contacts link in the Cloud Events project idea
  content/projects/gsoc/2021/project-ideas/cloudevents-plugin.adoc
Labels: bug, gsoc

#4160 Recommend 1 GB minimum RAM
  content/doc/book/installing/_installation_requirements.adoc
  content/doc/pipeline/tour/getting-started.adoc
  content/doc/tutorials/_prerequisites.adoc
  content/doc/tutorials/build-a-labview-app.adoc
Labels: documentation

#4161 Archive GSoD 2020, prepare for GSoD 2021
  content/_data/roadmap/roadmap.yml
  content/sigs/docs/gsod/2021/application.md
  content/sigs/docs/gsod/ideas.adoc
  content/sigs/docs/gsod/index.adoc
  content/sigs/docs/index.adoc
Labels: roadmap

#4165 Use Jenkins 2.277.1 for install
  content/doc/book/installing/_docker-for-tutorials.adoc
  content/doc/book/installing/_docker.adoc
Labels: documentation

#4141 Adapt changelog weather icons to future core icons
  content/css/changelog.css
  content/files/rate.js
  content/images/changelog/cloudy.png
  content/images/changelog/cloudy.svg
  content/images/changelog/legend/cloudy.png
  content/images/changelog/legend/storm.png
  content/images/changelog/legend/sunny.png
  content/images/changelog/storm.png
  content/images/changelog/storm.svg
  content/images/changelog/sunny.png
  content/images/changelog/sunny.svg
Labels: changelog

#4166 Propose salaboy as a possible mentor
  content/projects/gsoc/2021/project-ideas/cloudevents-plugin.adoc
Labels: gsoc

#4162 [GSOC 2021 PROJECT IDEA] Automatic Semantic Versioning
  content/projects/gsoc/2021/project-ideas/semantic-release-version.adoc
Labels: gsoc

#4168 [JENKINS-65069] Refer to AdoptOpenJDK CA issue for Debian 10 Docker image
  content/_data/upgrades/2-263-4.adoc
Labels: changelog

#4144 update-center certificate rotation blogpost
  content/blog/2021/03/2021-03-15-update-center-certificate-rotation.adoc
  content/images/post-images/2021-03-01-update-center-certificate-rotation/certificate-rotation-opengraph.png
Labels: blogpost, squash-merge-me

#4175 Add Jenkins 2.284 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4176 add gsoc 2021 blog post announcement
  content/blog/2021/03/2021-03-17-gsoc2021-announcement.adoc
  content/images/gsoc/2021/cdf_gsoc_org.jpeg
  content/sigs/gsoc/index.adoc
Labels: blogpost

#4177 Fix Java 11 docker syntax #4170
  content/doc/administration/requirements/jenkins-on-java-11.adoc
Labels: documentation

#4178 Use blueocean 1.24.5 in docker install guide
  content/doc/book/installing/_docker-for-tutorials.adoc
  content/doc/book/installing/_docker.adoc
Labels: documentation

#4179 add gsoc testimonials :)
  content/blog/2021/03/2021-03-17-gsoc2021-announcement.adoc
Labels: blogpost

#4180 edits on gsoc post
  content/blog/2021/03/2021-03-17-gsoc2021-announcement.adoc
Labels: blogpost

#4030 Trademark guidelines update
  content/project/governance.adoc
  content/project/trademark/approved-usage.adoc
  content/project/trademark/index.adoc
  content/project/trademark/sublicense.adoc
  content/projects/gsoc/mentors.adoc
Labels: governance, gsoc

#4182 Document JENKINS-65149 and properties removal in the upgrade guidelines
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-277-1.adoc
  content/images/changelog/upgrade-guide-2.277.1/installationWizard_step1.png
  content/images/changelog/upgrade-guide-2.277.1/installationWizard_step2.png
Labels: changelog

#4181 Announce Jenkins in SheCodeAfrica Contributhon
  content/blog/2021/03/2021-03-19-SheCodeAfrica-announcement.adoc
  content/images/post-images/2020-03-contributhon/jenkins-and-shecodeafrica-contributhon-opengraph.png
  content/images/post-images/2020-03-contributhon/she-code-africa-logo.svg
Labels: blogpost

#4183 Fix #4167 Redirect Algolia search id into same page
  content/doc/book/installing/index.adoc
  content/doc/book/system-administration/reverse-proxy-configuration-with-jenkins.adoc
Labels: documentation

#4186 Install docker-workflow plugin for tutorial use
  content/doc/book/installing/_docker-for-tutorials.adoc
  content/doc/book/installing/_docker.adoc
Labels: documentation

#4187 Fix images in upgrade guide
  content/_data/upgrades/2-277-1.adoc
Labels: changelog

#4188 update: tekton client plugin gsoc 2021 proposal
  content/projects/gsoc/2021/project-ideas/tekton-client-plugin.adoc
Labels: gsoc

#4189 add aiojenkins (async python client) to documentation
  content/doc/book/using/remote-access-api.adoc
Labels: documentation

#4190 Jenkins Governance Board update announcement
  content/_data/authors/ewelinawilkosz.adoc
  content/blog/2021/03/2021-03-22-governance-updates.adoc
  content/images/post-images/2021-03-governance-updates/opengraph-ewelina.png
  content/images/post-images/2021-03-governance-updates/profile-ewelina.jpg
  content/project/board.html.haml
Labels: blogpost, governance

#4192 Fix a link from a blog post
  content/blog/2021/03/2021-03-22-governance-updates.adoc
Labels: blogpost

#4195 Add Jenkins 2.285 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4197 Add two more entries to 2.285 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4198 Add Jenkins 2.277.2 changelog and upgrade guide
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-277-2.adoc
Labels: changelog

#4200 Improve table-to-div migration documentation
  content/_data/upgrades/2-277-1.adoc
  content/doc/developer/views/table-to-div-migration.adoc
Labels: changelog, documentation

#4203 Link to the Source Code of IntelliJ plugin
  content/doc/developer/development-environment/ide-configuration.adoc
Labels: documentation

#4204 Add redirect for CD of plugins
  content/doc/developer/publishing/releasing.adoc
  content/doc/developer/publishing/requesting-hosting.adoc
  content/redirect/continuous-delivery-of-plugins.md
Labels: documentation

#4206 Add Jenkins Contributor Summit, cdCon and DevOps World to the events
  content/_data/events/2021-06-22-cdcon.adoc
  content/_data/events/2021-06-25-contributor-summit.adoc
  content/_data/events/2021-09-29-devops-world.adoc
  content/events/contributor-summit/index.adoc
Labels: events

#4205 Update Jumbotron: GSoC and cdCon
  content/images/conferences/cdCon2021.jpg
  content/index.html.haml
  content/projects/gsoc/index.adoc
Labels: gsoc

#4174 Explain how to deactivate security with JCasc
  content/doc/book/system-administration/security.adoc
Labels: documentation

#4208 Clarify example based on user feedback
  content/doc/book/system-administration/authenticating-scripted-clients.adoc
Labels: documentation

#4209 Add SheCodeAfrica Contributhon to Jumbotron
  content/index.html.haml
Labels: events

#4211 Add event for the Jenkins Online Meetup on April 02
  content/_data/events/2021-04-02-online-meetup.adoc
Labels: events

#4212 GSoC 2021 - fix the announcement blogpost link
  content/projects/gsoc/index.adoc
Labels: bug

#4213 Add 2.286 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#3979 Scaling jenkins on kubernetes
  content/doc/book/resources/scaling-jenkins-on-kubernetes/build-jobs.png
  content/doc/book/resources/scaling-jenkins-on-kubernetes/kubernetes-plugin-configuration.png
  content/doc/book/resources/scaling-jenkins-on-kubernetes/pod-template-configuration.png
  content/doc/book/scaling/scaling-jenkins-on-kubernetes.adoc
Labels: documentation, squash-merge-me

#4214 Remove duplicate paragraph
  content/doc/book/installing/_kubernetes.adoc
Labels: documentation

#4216 Include additional 2.286 changelog items
  content/_data/changelogs/weekly.yml
Labels: changelog

#4196 [JENKINS-65169] Add section for agent name security fix
  content/_data/upgrades/2-263-2.adoc
Labels: changelog

#4217 Warn users about declarative pipeline loc limit
  content/doc/book/pipeline/syntax.adoc
Labels: documentation

#4219 Trademark: Update the intro text as suggested by the LF legal team
  content/project/trademark/index.adoc
Labels: governance
