Repository jenkins-infra/jenkins.io, pull requests merged in 2021-02, with the labels that each got.

#4094 Add Jenkins 2.263.4 changelog and upgrade guide
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-263-4.adoc
Labels: changelog

#4095 Add 2.278 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4096 Add linuxsuren as a pontential mentor of Automatic Specification Generator for Jenkins REST API
  content/projects/gsoc/2021/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
Labels: gsoc

#4097 remove extra call from Android Unit Test step
  content/blog/2018/01/2018-01-08-moving-from-buddybuild-for-android.adoc
Labels: blogpost

#4071 Fixed Kubernetes manifests
  content/doc/tutorials/kubernetes/installing-jenkins-on-kubernetes/jenkins-deployment.yaml
  content/doc/tutorials/kubernetes/installing-jenkins-on-kubernetes/jenkins-sa.yaml
  content/doc/tutorials/kubernetes/installing-jenkins-on-kubernetes/jenkins-service.yaml
  content/doc/tutorials/kubernetes/installing-jenkins-on-kubernetes/jenkins-volume.yaml
Labels: documentation

#4098 Announce Docker image update
  content/blog/2021/02/2021-02-08-docker-base-os-upgrade.adoc
  content/images/docker/dockerJenkins-updated-os-2021-02.png
Labels: blogpost

#4099 Better phrasing of JDK change and fix a typo
  content/blog/2021/02/2021-02-08-docker-base-os-upgrade.adoc
Labels: blogpost

#4100 Add Docker image upgrade to Jenkins 2.263.4 guide
  content/_data/upgrades/2-263-4.adoc
Labels: changelog

#4101 Add 2.279 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4102 Keeping in sync with Jenkins Docker LTS release number
  content/doc/book/installing/_docker-for-tutorials.adoc
  content/doc/book/installing/_docker.adoc
Labels: documentation

#4106 Removing mention of system properties related to ZFSInstaller
  content/doc/book/managing/system-properties.adoc
Labels: documentation

#4105 Add study links for cloudevents plugin gsoc 2021
  content/projects/gsoc/2021/project-ideas/cloudevents-plugin.adoc
Labels: gsoc

#4103 Add detailed install instructions to Windows install page
  content/doc/book/installing/windows.adoc
  content/doc/book/resources/tutorials/setup-jenkins-02-unlock-jenkins-page.png
  content/doc/book/resources/tutorials/windows-initial-password-file.png
  content/doc/book/resources/tutorials/windows-initial-password-location.png
  content/doc/book/resources/tutorials/windows-install.png
  content/doc/book/resources/tutorials/windows-installation-destination.png
  content/doc/book/resources/tutorials/windows-installation-progress.png
  content/doc/book/resources/tutorials/windows-installation-setup-wizard.png
  content/doc/book/resources/tutorials/windows-invalid-service-logon-credentials.png
  content/doc/book/resources/tutorials/windows-jenkins-log.png
  content/doc/book/resources/tutorials/windows-jenkins-logon-credentials.jpg
  content/doc/book/resources/tutorials/windows-jenkins-service.png
  content/doc/book/resources/tutorials/windows-select-features-to-install.png
  content/doc/book/resources/tutorials/windows-select-jdk-installation.png
  content/doc/book/resources/tutorials/windows-select-port.png
Labels: documentation

#4055 Jenkins on AWS tutorial
  content/doc/book/resources/tutorials/AWS/configure_cloud.png
  content/doc/book/resources/tutorials/AWS/create_admin_user.png
  content/doc/book/resources/tutorials/AWS/create_security_group.png
  content/doc/book/resources/tutorials/AWS/ec2_choose_ami.png
  content/doc/book/resources/tutorials/AWS/ec2_choose_instance_type.png
  content/doc/book/resources/tutorials/AWS/ec2_launch_instance.png
  content/doc/book/resources/tutorials/AWS/ec2_public_dns.png
  content/doc/book/resources/tutorials/AWS/ec2_putty.png
  content/doc/book/resources/tutorials/AWS/ec2_review_instance_launch.png
  content/doc/book/resources/tutorials/AWS/ec2_service.png
  content/doc/book/resources/tutorials/AWS/ec2_view_created_instance.png
  content/doc/book/resources/tutorials/AWS/install_ec2_plugin.png
  content/doc/book/resources/tutorials/AWS/putty_select_key_pair.png
  content/doc/book/resources/tutorials/AWS/review_instance_launch.png
  content/doc/book/resources/tutorials/AWS/select_key_pair.png
  content/doc/book/resources/tutorials/AWS/select_security_group.png
  content/doc/book/resources/tutorials/AWS/terminate_instance.png
  content/doc/book/resources/tutorials/AWS/unlock_jenkins.png
  content/doc/tutorials/index.adoc
  content/doc/tutorials/tutorial-for-installing-jenkins-on-AWS.adoc
Labels: documentation

#4107 Improve terminology
  content/doc/administration/requirements/upgrade-java-guidelines.adoc
  content/doc/book/managing/nodes.adoc
  content/projects/gsoc/2018/remoting-over-message-bus.adoc
Labels: documentation, gsoc

#4110 Changelog for Jenkins 2.280
  content/_data/changelogs/weekly.yml
Labels: changelog

#4112 Update 2-263-4.adoc
  content/_data/upgrades/2-263-4.adoc
Labels: changelog

#4113 Add update center reload to 2.280 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4111 Add blog announcing contributor summit
  content/blog/2021/02/2021-02-16-contributor-summit-online.adoc
  content/images/post-images/2021/2021-02-16-contributor-summit-opengraph.png
  content/images/post-images/2021/2021-02-16-contributor-summit.png
Labels: blogpost

#4114 Spelling fix in Contributor Summit blog post
  content/blog/2021/02/2021-02-16-contributor-summit-online.adoc
Labels: blogpost

#4115 Correct the summit start time 15:00 UTC
  content/blog/2021/02/2021-02-16-contributor-summit-online.adoc
Labels: blogpost

#4118 Add Rishabh Budhouliya as git project mentor
  content/projects/gsoc/2021/project-ideas/git-credentials-binding-for-pipeline.adoc
Labels: gsoc

#4116 [JEP-229] Noting possibility of CD in hosting guides
  content/doc/developer/publishing/releasing.adoc
  content/doc/developer/publishing/requesting-hosting.adoc
Labels: documentation

#4117 Blog post - cfp cdCon 2021
  content/blog/2021/02/2021-02-17-cfp-cdcon.adoc
  content/images/post-images/2021/cdcon2021jenkinscfp.png
Labels: blogpost

#4119 Add Jeff Pearce as GSoC mentor
  content/projects/gsoc/2021/project-ideas/git-credentials-binding-for-pipeline.adoc
Labels: gsoc

#4121 Update jenkins-on-java-11.adoc
  content/doc/administration/requirements/jenkins-on-java-11.adoc
Labels: documentation

#4104 Add Tekton client plugin for GSOC 2021
  content/_data/authors/garethjevans.adoc
  content/projects/gsoc/2021/project-ideas/tekton-client-plugin.adoc
Labels: gsoc

#4124 Add Jenkins Operator authors
  content/_data/authors/antoniaklja.adoc
  content/_data/authors/jakalkhalili.adoc
  content/_data/authors/sylwiabrant.adoc
Labels: gsoc, squash-merge-me

#4122 Add GSoC proposal - Security validator for Jenkins Kubernetes Operator
  content/projects/gsoc/2021/project-ideas.html.haml
  content/projects/gsoc/2021/project-ideas/jenkins-operator-security.adoc
Labels: gsoc, squash-merge-me

#4120 Add custom distribution service project idea
  content/projects/gsoc/2021/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2021/project-ideas/jenkins-custom-distribution-service-updates.adoc
Labels: gsoc

#4125 Add Contributor Summit to events
  content/_data/events/2021-02-23-contributor-summit.adoc
  content/_data/events/2021-02-25-contributor-summit-closing.adoc
  content/events/contributor-summit/index.adoc
Labels: events

#4130 Reference 2021-02-19 security advisory in 2.280 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4129 Update GSOC 2021 Tekton Client Plugin draft
  content/projects/gsoc/2021/project-ideas/tekton-client-plugin.adoc
Labels: gsoc

#4127 Typo fixes with 'first or all'
  content/projects/gsoc/students.adoc
Labels: gsoc

#4131 Android lint plugin superseded by warnings-ng
  content/_data/solutions/android.yml
  content/blog/2018/01/2018-01-08-moving-from-buddybuild-for-android.adoc
Labels: blogpost

#4126 Add sladyn98 as a mentor for gsoc projects
  content/projects/gsoc/2021/project-ideas/jenkins-custom-distribution-service-updates.adoc
  content/projects/gsoc/2021/project-ideas/plugin-installation-manager-tool.adoc
  content/projects/gsoc/2021/project-ideas/remoting-monitoring.adoc
Labels: gsoc

#4132 Minor fixes in changelog and advisory for 2.280
  content/_data/changelogs/weekly.yml
  content/security/advisory/2021-02-19.adoc
Labels: changelog

#4135 Add 2.281 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4137 Remove some of the old irc webchat links from the governance pages
  content/chat.adoc
  content/project/governance-meeting/index.adoc
Labels: governance

#4140 Fix tense
  content/doc/developer/publishing/releasing-experimental-updates.adoc
Labels: documentation

#4142 Include LDAP 2.3 upgrade in 2.279 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4139 update gsoc projects from draft to accepted
  content/projects/gsoc/2021/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2021/project-ideas/cloudevents-plugin.adoc
  content/projects/gsoc/2021/project-ideas/git-credentials-binding-for-pipeline.adoc
  content/projects/gsoc/2021/project-ideas/jenkins-operator-security.adoc
  content/projects/gsoc/2021/project-ideas/plugin-installation-manager-tool.adoc
  content/projects/gsoc/2021/project-ideas/remoting-monitoring.adoc
  content/projects/gsoc/2021/project-ideas/tekton-client-plugin.adoc
Labels: gsoc

#4145 Add more links to roadmap
  content/_layouts/frame.html.haml
  content/_partials/legacy/navbar.html.haml
  content/_partials/legacy/resources.html.haml
  content/_partials/toptoolbar.html.haml
Labels: roadmap

#4147 Include Jenkins Minute video in Pipeline Editor page
  content/doc/book/blueocean/pipeline-editor.adoc
Labels: documentation
