Repository jenkins-infra/jenkins.io, pull requests merged in 2022-02, with the labels that each got.

#4884 Update 2.333 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4886 Add 2.333 packaging improvements to changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4882 Fix word choices from #4874
  .github/_typos.toml
  content/_data/changelogs/lts.yml
  content/_data/changelogs/weekly.yml
  content/blog/2010/2010-08-26-cloudbees-announce-hudson-as-a-service.adoc
  content/blog/2013/2013-01-26-report-jenkins-meet-up-seoul.adoc
  content/blog/2016/2016-06-29-from-freestyle-to-pipeline.adoc
  content/blog/2016/2016-12-19-declarative-pipeline-beta.adoc
  content/blog/2018/07/2018-07-23-javadoc-service-improvements.adoc
  content/blog/2018/09/2018-09-11-speaker-blog-warnings-plugin.adoc
  content/security/advisory/2013-02-16.adoc
Labels: blogpost, chore, changelog

#4887 Changelog and upgrade guide for 2.319.3
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-319-3.adoc
Labels: changelog

#4889 Hacktoberfest 2021 is done
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#4890 Update dependencies
  package-lock.json
  package.json
Labels: chore

#4888 JEP-221 is now current as JEP-229
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#4854 Update proposing-project-ideas.adoc
  content/projects/gsoc/proposing-project-ideas.adoc
Labels: gsoc

#4893 Update index.adoc
  content/projects/gsoc/index.adoc
Labels: gsoc

#4897 fixed typo in index.adoc
  content/projects/gsoc/index.adoc
Labels: gsoc

#4867 Corrections to GSoC main page
  content/projects/gsoc/index.adoc
Labels: gsoc

#4901 Fix changelog 2.333 formatting
  content/_data/changelogs/weekly.yml
Labels: changelog

#4907 Fix two spelling errors
  content/blog/2014/2014-07-09-planned-changes-in-jenkins-user-conference-contact-information-collection.adoc
  content/blog/2016/2016-04-22-possible-infra-compromise.adoc
Labels: blogpost

#4904 [doc] add a full content of logging.properties
  content/doc/book/system-administration/viewing-logs.adoc
Labels: documentation

#4911 Use docker workflow plugin 1.28 in tutorial
  content/doc/book/installing/_docker-for-tutorials.adoc
  content/doc/book/installing/_docker.adoc
Labels: documentation

#4912 Fix links (hopefully)
  content/doc/book/managing/index.adoc
Labels: documentation

#4906 Blog plugin update
  content/blog/2022/02/2022-02-10-last-plugin-version-not-installable.adoc
  content/images/post-images/2022-02-10-last-plugin-version-not-installable/plugin-not-installable.png
  content/images/post-images/2022-02-10-last-plugin-version-not-installable/summary_picture.png
Labels: blogpost

#4914 Kris Stern & Rishabh Budhouliya mentoring git cache maintenance idea
  content/projects/gsoc/2022/project-ideas/automatic-git-cache-maintenance.adoc
Labels: gsoc

#4916 Fix typo
  content/blog/2017/02/2017-02-10-declarative-html-publisher.adoc
Labels: blogpost

#4915 add note about jenkinsci membership in plugin adoption explanation
  content/doc/developer/plugin-governance/adopt-a-plugin.adoc
Labels: documentation

#4913 GSoC2022 application document
  content/projects/gsoc/2022/application.adoc
  content/projects/gsoc/index.adoc
Labels: gsoc

#4917 Create blog "return of GSoC students as mentors"
  content/blog/2022/02/2022-02-16-return_of_students_as_mentors.adoc
  content/images/post-images/2022-02-16-new-mentors/new-gsoc-mentors.png
Labels: blogpost, squash-merge-me

#4900 Add Symbols page
  content/css/jenkins.css
  content/doc/developer/views/_chapter.yml
  content/doc/developer/views/symbols.adoc
  content/images/developer/views/symbols.svg
Labels: documentation

#4922 Update weekly changelog with formatting fixes
  content/_data/changelogs/weekly.yml
Labels: changelog

#4875 Documentation updates for `systemd` transition
  content/doc/administration/requirements/upgrade-java-guidelines.adoc
  content/doc/book/installing/linux.adoc
  content/doc/book/managing/casc.adoc
  content/doc/book/managing/change-system-timezone.adoc
  content/doc/book/scaling/architecting-for-scale.adoc
  content/doc/book/system-administration/reverse-proxy-configuration-apache.adoc
  content/doc/book/system-administration/reverse-proxy-configuration-nginx.adoc
  content/doc/book/system-administration/viewing-logs.adoc
  content/doc/tutorials/tutorial-for-installing-jenkins-on-AWS.adoc
Labels: documentation, squash-merge-me

#4923 Add packaging fixes to 2.335 changelog
  content/_data/changelogs/weekly.yml
Labels: changelog

#4925 Direct `systemd` users to appropriate log location
  content/doc/book/installing/linux.adoc
Labels: documentation

#4919 add substance to the plugin-health-score GSoC project
  content/projects/gsoc/2022/project-ideas/plugin-health-scoring-system.adoc
Labels: gsoc

#4929 fix gitter channel in GSoC description
  content/projects/gsoc/index.adoc
Labels: gsoc

#4932 Clarification of responsabilities
  content/project/team-leads.adoc
Labels: governance

#4934 Images in lower directory need parent one higher
  content/doc/book/security/controller-isolation/agent-to-controller.adoc
  content/doc/book/security/controller-isolation/required-role-check.adoc
Labels: documentation

#4930 Add documentation for Jenkins Security Scan
  content/doc/developer/security/scan.adoc
  content/redirect/jenkins-security-scan.adoc
Labels: documentation

#4939 Forgot a full stop
  content/doc/developer/security/scan.adoc
Labels: documentation

#4944 Adapt Linux install docs to current status
  content/doc/book/installing/linux.adoc
Labels: documentation

#4946 GSoC: add missing info fields to project description
  content/projects/gsoc/2022/project-ideas/JCasC-drift-detector.adoc
  content/projects/gsoc/2022/project-ideas/automatic-git-cache-maintenance.adoc
  content/projects/gsoc/2022/project-ideas/automatic-spec-generator-for-jenkins-rest-api.adoc
  content/projects/gsoc/2022/project-ideas/automating-plugin-buildmetadata-updates.adoc
  content/projects/gsoc/2022/project-ideas/jenkinsfile-runner-action-for-github-actions.adoc
  content/projects/gsoc/2022/project-ideas/pipeline-step-documentation-generator.adoc
  content/projects/gsoc/2022/project-ideas/plugin-health-scoring-system.adoc
  content/projects/gsoc/2022/project-ideas/plugin-installation-manager-tool.adoc
  content/projects/gsoc/2022/project-ideas/prj-idea-template.adoc_text
Labels: gsoc

#4940 Unsuspend publish-over-ssh
  content/security/plugins.adoc
Labels: on-hold

#4942 Add GSoC 2022 Screenshot Automation project idea
  content/projects/gsoc/2022/project-ideas/jenkinsfile-runner-action-for-github-actions.adoc
  content/projects/gsoc/2022/project-ideas/screenshot-automation.adoc
Labels: gsoc

#4949 Promote two projects ideas to draft
  content/projects/gsoc/2022/project-ideas/JCasC-drift-detector.adoc
  content/projects/gsoc/2022/project-ideas/automating-plugin-buildmetadata-updates.adoc
Labels: gsoc

#4948 More description of git cache maintenance idea
  content/projects/gsoc/2022/project-ideas/automatic-git-cache-maintenance.adoc
Labels: gsoc

#4951 Use blue ocean 1.25.3 - latest release
  content/doc/book/installing/_docker-for-tutorials.adoc
  content/doc/book/installing/_docker.adoc
Labels: documentation
