Repository jenkins-infra/jenkins.io, pull requests merged in 2025-07, with the labels that each got.

#8237 Align ruby version and update depdencies
  .ruby-version
  Gemfile.lock
Labels: chore

#8209 feat(roadmap) update jenkins-infra tasks for June 2025
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#8225 Remove direct access to Java 8 to 11 upgrade instructions
  content/doc/book/platform-information/_chapter.yml
  content/doc/book/platform-information/index.adoc
  content/doc/book/platform-information/support-policy-java.adoc
Labels: documentation

#8274 Create 2025-07-23-online-meetup.adoc
  content/_data/events/2025-07-23-online-meetup.adoc
Labels: gsoc, events

#8294 Add Midterm GSoC post
  content/blog/2025/07/24/2025-07-24-giovanni-vaccarino-gsoc-midterm-post.adoc
Labels: gsoc, blogpost

#8316 Add GSoC 2025 midterm blog post for Maeve Ho
  content/blog/2025/07/28/2025-07-28-maeve-ho-gsoc-midterm-update-post.adoc
  content/images/gsoc/2025/midterm_maeveho.png
Labels: gsoc, blogpost
