Repository jenkins-infra/jenkins.io, pull requests merged in 2025-06, with the labels that each got.

#8151 feat:add content to c/c++ solution page
  content/solutions/c.adoc
Labels: documentation

#8166 Add GSoC Blog post and author bio
  content/_data/authors/giovanni-vaccarino.adoc
  content/blog/2025/06/06/2025-06-06-giovanni-vaccarino-gsoc-community-bonding-blog-post.adoc
  content/images/avatars/giovanni-vaccarino.jpg
Labels: gsoc, blogpost

#8159 Add GSoC 2025 ai-powered-chatbot-for-quick-access-to-jenkins-resource project page
  content/projects/gsoc/2025/projects/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
Labels: gsoc

#8168 Add GSoC blog post for community bonding period
  content/blog/2025/06/03/2025-06-03-birajit-saikia-gsoc-community-bonding-blog-post.adoc
  content/blog/2025/06/06/2025-06-06-raunak-madan-gsoc-community-bonding-blog-post.adoc
Labels: gsoc, blogpost

#8173 feat(gsoc): update gsoc pages after conclusion of bonding period
  content/_data/authors/chiruu12.adoc
  content/projects/gsoc/2025/project-ideas/domain-specific-LLM-based-on-jenkins-usage-using-ci-jenkins-io-data.adoc
  content/projects/gsoc/2025/projects/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
  content/projects/gsoc/2025/projects/complete-alternative-jenkins-io-build-retooling.adoc
  content/projects/gsoc/2025/projects/domain-specific-LLM-based-on-jenkins-usage-using-ci-jenkins-io-data.adoc
  content/projects/gsoc/2025/projects/improving-tekton-client-plugin.adoc
  content/projects/gsoc/2025/projects/plugin-modernizer-improvements.adoc
  content/projects/gsoc/dos-and-donts.adoc
  content/projects/gsoc/index.adoc
Labels: gsoc

#8176 My blog post 2025
  content/_data/authors/chiruu12.adoc
  content/blog/2025/06/11/2025-06-11-chirag-gupta-gsoc-community-bonding-blog-post.adoc
Labels: gsoc, blogpost

#8184 Fix broken link in Chirag Gupta blog post
  content/blog/2025/06/11/2025-06-11-chirag-gupta-gsoc-community-bonding-blog-post.adoc
Labels: gsoc, blogpost

#8186 fix: birajit blog post project links to latest project page
  content/_data/authors/biru-codeastromer.adoc
  content/blog/2025/06/03/2025-06-03-birajit-saikia-gsoc-community-bonding-blog-post.adoc
Labels: gsoc, blogpost

#8188 add `---` to roadmap yml files for best practices
  content/_data/roadmap/archive.yml
  content/_data/roadmap/roadmap.yml
Labels: roadmap

#8189 add `---` to all remaining yml files for best practices
  content/_config/site.yml
  content/_data/awards/2008-0001.yml
  content/_data/awards/2008-0002.yml
  content/_data/awards/2010-0003.yml
  content/_data/awards/2011-0004.yml
  content/_data/awards/2011-0005.yml
  content/_data/awards/2011-0006.yml
  content/_data/awards/2012-0007.yml
  content/_data/awards/2013-0008.yml
  content/_data/awards/2014-0009.yml
  content/_data/awards/2014-0010.yml
  content/_data/awards/2014-0011.yml
  content/_data/awards/2016-0012.yml
  content/_data/awards/2017-0013.yml
  content/_data/awards/2023-0014.yml
  content/_data/awards/2024-0015.yml
  content/_data/books/Hands-on_Pipeline_as_YAML_with_Jenkins.yml
  content/_data/books/Jenkins_Essentials.yml
  content/_data/books/Learning_Continuous_Integration_with_Jenkins.yml
  content/_data/books/Mastering_Jenkins.yml
  content/_data/books/integrating-php-projects-with-jenkins.yml
  content/_data/books/jenkins-the-definitive-guide-continuous_integration_for_the_masses.yml
  content/_data/books/jenkins2-up-and-running.yml
  content/_data/changelogs/lts.yml
  content/_data/changelogs/weekly.yml
  content/_data/indexpage/carousel.yml
  content/_data/indexpage/supporters.yml
  content/_data/solutions/android.yml
  content/_data/solutions/bitbucketserver.yml
  content/_data/solutions/c.yml
  content/_data/solutions/docker.yml
  content/_data/solutions/embedded.yml
  content/_data/solutions/github.yml
  content/_data/solutions/java.yml
  content/_data/solutions/pipeline.yml
  content/_data/solutions/python.yml
  content/_data/solutions/ruby.yml
Labels: changelog

#8191 Move Firefox ESR to level 2 support
  content/doc/book/platform-information/support-policy-web-browsers.adoc
Labels: documentation

#8183 Creating changelog & upgrade guide for 2.504.3
  content/_data/changelogs/lts.yml
  content/_data/upgrades/2-504-3.adoc
Labels: changelog

#8207 fix: replace links to https://jenkinsistheway.io/ by https://stories.jenkins.io/
  content/_data/adopters/D4Science.adoc
  content/blog/2020/10/2020-10-20-Cross-Industry-DevOps-3-Firms-Get-It-Right-with-Jenkins.adoc
  content/blog/2020/12/2020-12-05-3-Cases-Jenkins-Success-stories-from-the-community.adoc
  content/blog/2021/01/2021-01-26-new-ebook-build-deploy-and-automate-great-stuff-with-jenkins.adoc
  content/blog/2021/06/2021-06-10-jenkins-is-the-way-ebook-2.adoc
  content/blog/2021/09/2021-09-22-fortune-500-real-world-results.adoc
Labels: blogpost

#8201 architecting-for-scale: update notes for mac os and jenkins home
  content/doc/book/managing/system-configuration.adoc
  content/doc/book/scaling/architecting-for-scale.adoc
Labels: documentation

#8231 Use adoc links instead of markdown links
  content/_data/authors/markyjackson-taulia.adoc
  content/blog/2010/2010-02-09-whats-going-on-with-the-hudsons-infrastructure.adoc
  content/blog/2010/2010-02-15-hudson-1-346-released.adoc
  content/blog/2016/2016-04-14-replay-with-pipeline.adoc
  content/projects/gsoc/2025/projects/ai-powered-chatbot-for-quick-access-to-jenkins-resources.adoc
  content/projects/gsoc/2025/projects/improving-tekton-client-plugin.adoc
Labels: gsoc, blogpost

#8212 chore(deps-dev): bump npm-run-all2 from 6.1.2 to 8.0.4
  package-lock.json
  package.json
Labels: chore
